<article id="profile">
  <div class="row">
    <div class="summary-box">
      <%= image_tag(TmdbImageService.image_url(file_path: @director.profile.profile_path, size: :medium, image_type: :profile)) %>
      <div class="contents">
        <h1><%= @director.profile.name %></h1>
        <h2>Born: <%= display_birthday_info(@director.profile) %></h2>
        <p class="bio"><%= @director.profile.bio %></p>
      </div> <!-- contents -->
    </div> <!-- summary-box -->
  </div> <!-- row -->

  <div class="row">
    <div class="credits">
      <%= render partial: "director_credits", locals: { movie_credits: @director.movie_credits, tv_credits: @director.tv_credits }  %>

      <%= render partial: "producer_credits", locals: { movie_credits: @director.movie_credits, tv_credits: @director.tv_credits }  %>

      <%= render partial: "editor_credits", locals: { movie_credits: @director.movie_credits, tv_credits: @director.tv_credits }  %>

      <%= render partial: "writer_credits", locals: { movie_credits: @director.movie_credits, tv_credits: @director.tv_credits }  %>

      <%= render partial: "screenplay_credits", locals: { movie_credits: @director.movie_credits, tv_credits: @director.tv_credits }  %>

      <%= render partial: "movie_credits", locals: { movie_credits: @director.movie_credits, person_profile: @director.profile }  %>

      <%= render partial: "tv_credits", locals: { tv_credits: @director.tv_credits, actor_id: @director.person_id }  %>
    </div>
  </div>
</article>
