
<%= form_for([current_user, @list], html: {class: 'form'}) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :owner_id, value: current_user.id %>
  <%= f.label :name, "List Name" %>
  <%= f.text_field :name, id: "list_name_field", class: "form-control edit-form" %>

  <%= f.label :description %>
  <%= f.text_area :description, id: "list_description_field", placeholder: "Use this space to describe the kinds of movies you store in this list.", class: "form-control edit-form" %>

  <%= f.label "Make public?" %>
  <%= f.check_box :is_public %>

  <%= f.submit "Save" %>
<% end %>


