  
<%= form_for([current_user, @list]) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :owner_id, value: current_user.id %>
  <div class="field">
    <%= f.label :name, "List Name" %><br>
    <%= f.text_field :name, id: "list_name_field", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, id: "list_description_field", placeholder: "Use this space to describe the kinds of movies you store in this list.", class: "form-control" %>
  </div>

    <div class="field">
      <%= f.label "Make public?" %>  
      <%= f.check_box :is_public, class: "form-control" %> 
    </div>

  <div class="actions">
    <%= f.submit "Save", id: "submit_list_button" %>
  </div>
<% end %>


