<h1>Public lists page: This page shows all users' lists marked as public.</h1>

<% @lists.each do |list| %>
  <p><strong>List name: </strong><%= link_to "#{list.name}", user_list_path(user_id: list.owner.slug, id: list.slug) %>, <strong>Owner: </strong><%= list.owner.username %></p>
  <ul>
    <li>Movies in list: <%= list.movies.size %></li>
    <li>List owner: <%= list.owner.username %></li>
    <li>Movies in list:
      <% list.movies.first(5).each do |movie| %>
      <%= link_to "#{movie.title}", movie_path(movie) %>
    <% end %>...<%= link_to "see all", user_list_path(user_id: list.owner.slug, id: list.slug) %></li>
  </ul>

<% end %>

<p><%= will_paginate @lists %></p>