<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Movies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.movies.each do |movie| %>
      <tr>
        <td><%= movie.title  %></td>
        <td><%= link_to 'Remove from this list', delete_listing_path(@list, movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= raw movie.tags.by_user_or_list(current_user).map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td>
          <%= form_tag('/taggings') do %>
            <%= label_tag(:tag_list, "tags:") %>
            <%= text_field_tag(:tag_list) %>
            <%= hidden_field_tag(:movie_id, "#{movie.id}") %>
            <%= submit_tag("add tags") %>
          <% end %>
        </td>
      </tr>
      <% end %>

  </tbody>
</table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
