<% content_for(:title, @list.name) %>

<p id="notice"><%= notice %></p>

<h2>List show page for <%= @list.name %>, owned by <%= @list.owner.username %></h2>

<% if @list.description.present? %>
  <h3>List description:</h3>
  <p><%= @list.description %></p>
<% end %> <!-- #if description.present -->


  <%= form_tag user_list_path(@list.owner, @list), method: :get do %>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::LIST_SORT_OPTIONS, @sort_by), :include_blank => false, id: "list_sort_options" %>
    <%= submit_tag "Sort", id: "list_sort_button" %>
  <% end %>

<% if @sort_by.present? && @list.members.present? && @watched_sorts.include?(@sort_by) %>

  <p>Which member for <%= @sort_by %>?
  <%= form_tag user_list_path(@list.owner, @list), method: :get do %>
    <%= label_tag :member, "By which member?: " %>
    <%= select_tag :member, options_from_collection_for_select(@list.members, :id, :username, @member), :include_blank => true %>
    <%= hidden_field_tag(:sort_by, @sort_by) %>
    <%= submit_tag "Sort", id: "list_sort_watched_by_button" %>
  <% end %>

<% end %> <!-- # if @sort_by = "watched movies" && @list.members.present? -->


  <div id ="list_show_loop">
    <%= render partial: 'movies/movie_partial_loop', object: @movies, :locals => { :list => @list } %>
  </div>

  <div class="row tile-container">
     <center>
      <div class="pagination">
        <p><%= will_paginate @movies %></p>
      </div><!-- pagination -->
    </center>
  </div>

<%= link_to 'Edit', edit_user_list_path(@list.owner, @list), id: "edit_list_link_list_show" %> |
<%= link_to 'Back', user_lists_path(current_user), id: "lists_index_link_list_show" %>

<p>Invite a user to this list!</p>
<%= form_for(Invite.new) do |f| %>

  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :list_id, value: @list.id %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Send invite", id: "send_invite_button_list_show" %>
  </div>
<% end %>
