<% content_for(:title, @list.name) %>

<h2><%= @list.name %>
  <span>
    (<%= pluralize(@list.movies.size, "Movie") %>)
  </span>
</h2>
<p class='inline'>by <%= @list.owner.username %></p>
<%= link_to 'Edit', edit_user_list_path(@list.owner, @list) if @list.owner.email == current_user.email %>


<%= form_tag user_list_path(@list.owner, @list), { method: :get, data: { controller: 'auto-submit', action: 'input->auto-submit#submit' } } do %>
  <%= select_tag :sort_by, options_for_select(MovieDataService::LIST_SORT_OPTIONS, @sort_by), {  include_blank: "Sort by", class: 'list-sort' } %>
<% end %>

<% if @sort_by.present? && @list.members.present? && @watched_sorts.include?(@sort_by) %>
  <%= form_tag user_list_path(@list.owner, @list), { method: :get, data: { controller: 'auto-submit', action: 'input->auto-submit#submit' } } do %>
    <%= select_tag :member, options_from_collection_for_select(@list.members, :id, :username, @member), { include_blank: "By which member?: " } %>
    <%= hidden_field_tag(:sort_by, @sort_by) %>
  <% end %>
<% end %>

<%= render partial: 'movies/movie_partial_loop', locals: { movies: @movies, list: @list } %>

<div class='text-center'><%= will_paginate @movies %></div>
