<p id="notice"><%= notice %></p>

<h2>List show page for <%= @list.name %>, owned by <%= @list.owner.username %></h2>


<div id ="list_show_loop">

  <% @movies.each do |movie| %>

    <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
      <%= render partial: 'movies/movie', object: movie %>
    </div>

  <% end %> <!-- movies loop -->

</div>

<p><%= will_paginate @movies %></p>

<%= link_to 'Edit', edit_user_list_path(@list.owner, @list), id: "edit_list_link_list_show" %> |
<%= link_to 'Back', user_lists_path(current_user), id: "lists_index_link_list_show" %>

<p>Invite a user to this list!</p>
<%= form_for(Invite.new) do |f| %>

  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :list_id, value: @list.id %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Send invite", id: "send_invite_button_list_show" %>
  </div>
<% end %>
