<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Movies</th>
      <th>On List</th>
      <th>Tags</th>
      <th></th>
      <th>Priority</th>
      <th></th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.movies.each do |movie| %>
      <tr>
        <td><%= movie.title  %></td>
        <td><%= link_to 'Remove from this list', delete_listing_path(@list, movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= raw movie.tags.by_user_or_list(@list).map(&:name).map { |t| link_to t, tag_path(t, :list_id => "#{@list.id}") }.join(', ') %></td>
        <td>
          <%= form_tag('/taggings') do %>
            <%= label_tag(:tag_list, "tags:") %>
            <%= text_field_tag(:tag_list) %>
            <%= hidden_field_tag(:movie_id, "#{movie.id}") %>
            <%= submit_tag("add tags") %>
          <% end %>
        </td>

        <td>Priority: <%= movie.listings.find_by(list_id: @list.id).priority %></td>
        <td><%= form_tag(update_listing_path(list_id: @list.id, movie_id: movie.id), :method => :patch) do %>
          <%= label_tag(:priority, "new priority:") %>
          <%= number_field_tag(:priority) %>
          <%= hidden_field_tag(:user_id, "#{current_user.id}") %>
          <%= submit_tag("Prioritize") %>
        <% end %>
        </td>

        <% if current_user.rated_movies.include?(movie) %>
          <td>My Rating: <%= movie.ratings.by_user(current_user).first.value %></td>
        <% else %>
          <td><%= link_to "Rate this movie", new_movie_rating_path(movie) %></td>
        <% end %>


        <% if current_user.reviewed_movies.include?(movie) %>
          <td>My Review: <%= movie.reviews.by_user(current_user).first.body %></td>
        <% else %>
          <td><%= link_to "Review this movie", new_movie_review_path(movie) %></td>
        <% end %>

        <% if movie.times_seen_by(current_user) > 0 %>
          <td>Been watched.</td>
          <td><%= link_to "View my screenings", movie_screenings_path(movie) %></td>
        <% else %>
          <td><%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: movie.id, user_id: current_user.id }, movie_id: movie.id), :method => :post %></td>
          <td><%= link_to "Add a screening", new_movie_screening_path(movie) %><td>
        <% end %>

      </tr>
      <% end %>

  </tbody>
</table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<p>Invite a user to this list!</p>
<%= form_for(Invite.new) do |f| %>

  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :list_id, value: @list.id %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Send invite" %>
  </div>
<% end %>
