<%= form_for([movie, screening], html: {class: 'new-edit'}) do |f| %>
  <% if screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: movie.id %>
  <%= f.label :date_watched, 'Date Watched' %>
  <%= f.date_field :date_watched %>
  <%= f.label :location_watched, 'Location Watched' %>
  <%= link_to 'set default location',
              user_path(current_user),
              title: 'Set a default location for where you watch movies most frequently.',
              class: 'block'
  %>
  <%= f.text_field :location_watched %>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <%= f.submit 'Save', data: {turbo: 'false'} %>
<% end %>
