<%= form_for([@movie, @screening]) do |f| %>
  <% if @screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% @screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <div class="field">
    <%= f.label :date_watched %><br>
    <%= f.date_select :date_watched %>
  </div>
  <div class="field">
    <%= f.label :location_watched %><br>
    <%= f.text_field :location_watched %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", id: "screening_submit_button_screening_form" %>
    <%= f.submit %>
  </div>
<% end %>
