<% content_for(:title, "Editing") %>

<h1>Edit Your Screening</h1>
<h2>Your <%= @screening.date_watched.stamp("12-31-2016") %> Screening of <%= @movie.title %></h2>

<%= render 'form' %>

<p class="button-main">
  <%= link_to 'Back To Screenings', movie_screenings_path(@movie) %>
  <%= link_to 'Back To ' + @movie.title, movie_path(@movie) %>
</p>
