<% content_for(:title, "All Screenings") %>

<h1>Screenings for <%= link_to "#{@movie.title}", movie_path(@movie) %></h1>

<table>
  <tbody>
    <% @screenings.order("date_watched DESC").each do |screening| %>
      <tr>
        <td><%= screening.date_watched.stamp("1/2/2001") %></td>
        <td>
          <p>
            <strong><%= screening.location_watched %></strong><br />
            <%= screening.notes %>
          </p>
        </td>
        <td>
          <%= link_to 'Edit', edit_movie_screening_path(@movie, screening) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '+ New Screening', new_movie_screening_path(@movie), class: 'btn' %>
<%= link_to "Back to " + @movie.title, movie_path(@movie), class: 'btn' %>
