<p id="notice"><%= notice %></p>

<h1>Screenings Show Page for <%= @movie.title %></h1>
<p>This page shows a specific screening's info.</p>

<p>
  <strong>Movie:</strong>
  <%= link_to "#{@screening.movie.title}", movie_path(@movie) %>
</p>

<p>
  <strong>Date watched:</strong>
  <%= @screening.date_watched %>
</p>

<p>
  <strong>Location watched:</strong>
  <%= @screening.location_watched %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @screening.notes %>
</p>

<%= link_to 'Edit', edit_movie_screening_path(@movie, @screening) %> |
<%= link_to 'Back', movie_screenings_path(@movie) %>
