<p id="notice"><%= notice %></p>

  <%= image_tag "http://image.tmdb.org/t/p/w780#{@movie.backdrop_path}" if @movie.backdrop_path.present? %><br>
  <%= image_tag "http://image.tmdb.org/t/p/w150#{@movie.poster_path}" if @movie.poster_path.present? %>

  <!-- TODO: Refactor the shit out of this: -->
  <% @lists_except_movie = current_user.lists_except_movie(@movie) %>

<% if @movie.in_db %> <!-- # if @movie.present? determines if the movie is already in the database -->

  <% if current_user.movies.include?(@movie) %> <!-- #if current_user.movies.include?(@movie) -->

    <p>On List(s):
      <% @movie.lists.by_user(current_user).each do |list| %>
        <%= link_to "#{list.name}", user_list_path(current_user, list.slug), id: "list_show_link_on_list_movie_show" %>
      <% end %> <!-- #list loop -->
    </p>

    <p>Add to another list?</p>
      <%= render "movies/add_to_list_form" %>

    <p>Tags:
    <% @movie.tags.by_user_or_list(current_user).each do |tag| %>
      <%= link_to "#{tag.name}", tag_path(tag.name), id: "tag_link_movie_show" %><%= link_to "(x)", delete_tagging_path(tag.id, @movie.id, from: "movie"), id: "remove_tag_link_movie_show", method: :delete  %>
    <% end %> <!-- # tags loop -->
    </p>

    <p>
     <%= form_tag('/taggings') do %>
      <%= label_tag(:tag_list, "Add tags:") %>
      <%= text_field_tag(:tag_list) %>
      <%= hidden_field_tag(:tmdb_id, @movie.tmdb_id) %>
      <%= hidden_field_tag(:from, "movie") %>
      <%= submit_tag "add tags", id: "add_tags_button_movie_show" %>
    <% end %> <!-- # tag form loop -->
    </p>

    <p>
    <% if current_user.reviewed_movies.include?(@movie) %> <!-- # if movie has been reviewed -->
      <strong>My Review:</strong>
      <%= @movie.reviews.by_user(current_user).first.body %>,
      <%= link_to "show", movie_review_path(@movie, @movie.reviews.by_user(current_user).first), id: "show_review_link_movie_show" %>
    <% else %> <!-- # if movie has been reviewed -->
      <%= link_to "Review this movie", new_movie_review_path(@movie), id: "new_review_link_movie_show" %></td>
    <% end %> <!-- # if movie has been reviewed -->
    </p>

    <p>
    <% if current_user.rated_movies.include?(@movie) %> <!-- # if movie has been rated -->
      <strong id="existing_rating">My Rating</strong>
      <%= link_to "#{@movie.ratings.by_user(current_user).first.value}", movie_rating_path(@movie, @movie.ratings.by_user(current_user).first), id: "show_rating_link_movie_show" %>
    </p>
    <% else %> <!-- # if movie has been rated -->
      <p>
      <%= form_for([@movie, Rating.new]) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :movie_id, value: @movie.id %>
        <%= hidden_field_tag :from, "movie_show" %>
        <%= f.label "Rate this movie" %><br>
        <%= f.select :value, Rating::VALUES, :prompt => "Out of 10", id: "rating_value_field" %>
        <%= f.submit "Rate it", id: "rating_submit_button_rating_form" %>
      <% end %> <!-- # rating form loop -->

    <% end %> <!-- #if movie has been rated -->
      </p>

    <p>
    <% if current_user.watched_movies.include?(@movie) %> <!-- # if movie has been watched -->
      <p>Movie has been watched.
      <%= link_to "view my screenings", movie_screenings_path(@movie), id: "view_screenings_link_movie_show" %>
      </p>
    </p>
    <% else %> <!-- # if movie has been watched -->
      <p>
      <%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: @movie.id }, movie_id: @movie.id, from: "movie_show"), :method => :post, id: "mark_watched_link_movie_show" %><br>
      <%= link_to "Add a screening", new_movie_screening_path(@movie), id: "add_screening_link_movie_show" %>
    <% end %> <!-- # if movie has been watched -->
      </p>

  <% end %> <!-- #if current_user.movies.include?(@movie) -->

<% else %> <!-- #if @movie is in database-->
    <p>This movie is not on your lists. Add it to a list:</p>
    <%= render "movies/add_to_list_form" %>

<% end %> <!-- #if @movie is in database-->


  <p>Release Date: <%= @movie.release_date %></p>
  <p>Rated: <%= @movie.mpaa_rating %></p>
  <p>TMDB Vote Average: <%= @movie.vote_average %></p>

  <p>Genres:
    <% @movie.genres.each do |genre| %>
      <%= link_to "#{genre}", genre_path(genre), id: "genre_link_movie_show" %>
    <% end %>
  </p>

  <p>Overview: <%= @movie.overview %></p>

  <p>Actors:
    <% @movie.actors.first(5).each do |actor| %>
      <%= link_to "#{actor}", actor_search_path(actor: actor), id: "actor_link_movie_show" %>
    <% end %>
  </p>
  <p><%= link_to "Full cast", full_cast_path(tmdb_id: @tmdb_id), id: "full_cast_link_movie_show" %>

  <p>Director: <%= link_to "#{@movie.director}", director_search_path(director_id: @movie.director_id, name: @movie.director) %></p>

  <% if @production_companies.present? %> <!-- # if @production_companies.present? -->
    <p>Production Companies:
    <% @production_companies.each do |company| %>
      <%= link_to "#{company[:name]}", discover_search_path(company: company[:id], sort_by: "release_date") %>
    <% end %> <!-- # production companies loop -->
    </p>
    <% end %> <!-- # if @production_companies.present? -->

  <p>Trailer:</p>
  <% if @movie.trailer.present? %> <!-- #if trailer present -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
  <% else %> <!-- #if trailer present -->
    <a href="https://www.youtube.com/results?search_query=<%= @movie.title %>+movie+official+trailer" target="_blank">Watch the Trailer</a>
  <% end %> <!-- #if trailer present -->
