  <p>
    <% if current_user.rated_movies.include?(@movie) %>
      <strong>My Rating</strong>
      <%= link_to "#{@movie.ratings.by_user(current_user).first.value}", movie_rating_path(@movie, @movie.ratings.by_user(current_user).first), id: "show_rating_link_movie_show" %>
    <% else %>
      <p>
      <%= link_to "Rate this movie", new_movie_rating_path(@movie), id: "new_rating_link_movie_show"  %>

      <%= form_for([@movie, Rating.new]) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :movie_id, value: @movie.id %>
        <%= hidden_field_tag :from, "movie_show" %>
        <div class="field">
          <%= f.label :value %><br>
          <%= f.number_field :value %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", id: "rating_submit_button_rating_form" %>
        </div>
      <% end %>

    <% end %>
  </p>