<h3>Director Credits (<%= @person_movie_credits.directing.size + @person_tv_credits.directing.size %>)</h3>
  <p>Movies (<%= @person_movie_credits.directing.size %>) </p>
    <ul>
      <% @person_movie_credits.directing.each do |credit| %>
        <%= render "movie_credit_loop", credit: credit %>
      <% end %>
    </ul>
  <p>TV (<%= @person_tv_credits.directing.size %>)</p>
    <ul>
      <% @person_tv_credits.directing.each do |credit| %>
        <%= render "tv_credit_loop", credit: credit %>
      <% end %>
    </ul>