<div class="mb-10">
  <h3>Movie Credits (<%= movie_credits.actor.size %>)</h3>
</div>
<ul>
  <% movie_credits.actor.each do |credit| %>
    <li>
      <%= link_to credit.title, movie_more_path(tmdb_id: "#{credit.tmdb_id}") %>
      <%= "| #{credit.date}" if credit.date != "Date unavailable" %>
      <%= display_actor_age_at_release(person_profile.birthday, credit.date) %>
      <%= "as #{credit.character}" if credit.character.present? %>
  </li>
  <% end %>
</ul>
