<h3>Screenplay Credits (<%= movie_credits.screenplay.size + tv_credits.screenplay.size %>)</h3>
  <p>Movies (<%= movie_credits.screenplay.size %>)</p>
    <ul>
      <% movie_credits.screenplay.each do |credit| %>
        <%= render "movie_credit_loop", credit: credit %>
      <% end %>
    </ul>

  <p>TV (<%= tv_credits.screenplay.size %>)</p>
    <ul>
      <% tv_credits.writing.each do |credit| %>
        <%= render "tv_credit_loop", credit: credit %>
      <% end %>
    </ul>
