  <% @movies.each do |movie| %>
     <div>
      <!-- TODO: Refactor the shit out of this: -->
      <% @lists_except_movie = current_user.lists_except_movie(movie) %>

        <%= image_tag "http://image.tmdb.org/t/p/w150#{movie.poster_path}" if movie.poster_path.present? %>
        <h3><%= movie.title %></h3>
        <p>Release date: <%= movie.release_date %></p>
        <p>Vote average: <%= movie.vote_average %></p>
        <p>Overview: <%= movie.overview %></p>
        <p><%= link_to "More info", movie_more_path(movie_id: movie.tmdb_id), id: "movie_more_link_search_results" %></p>

      <% if movie.in_db %>

        <% if current_user.all_movies.include?(movie) %>

          <p>On List(s):
          <!--  TODO  this needs to be fixed to show lists by current user's all_lists -->
          <% movie.lists.by_user(current_user).each do |list| %>
            <%= link_to "#{list.name}", user_list_path(current_user, list.slug) %>
          <% end %> <!-- #list loop -->
          </p>
          <p>Add it to another list?</p>

        <% else %>

        <% end %> <!-- # if current_user.all_movies.include?(@movie) -->

      <% else %> <!-- #if @movie.present? -->

        <p>This movie is not on your lists. Add to a list:</p>

      <% end %> <!-- #if @movie present -->

      <%= form_for(Listing.new) do |f| %>
        <%= f.collection_select :list_id, @lists_except_movie, :id, :name %>
        <%= hidden_field_tag :tmdb_id, movie.tmdb_id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= f.submit "add movie to list", id: "add_movie_to_list_search_results" %>
      <% end %>
        </br>
        <hr>
      </div>
    <% end %> <!-- #results loop -->