<h3>Writer Credits (<%= @person_movie_credits.writing.size + @person_tv_credits.writing.size %>)</h3>
  <p>Movies (<%= @person_movie_credits.writing.size %>)</p>
    <ul>
      <% @person_movie_credits.writing.each do |credit| %>
        <%= render "movie_credit_loop", credit: credit %>
      <% end %>
    </ul>
  <p>TV (<%= @person_tv_credits.writing.size %>)</p>
    <ul>
      <% @person_tv_credits.writing.each do |credit| %>
        <%= render "tv_credit_loop", credit: credit %>
      <% end %>
    </ul>