<h1>Search by Actor</h1>

<% if !@actor.present? %>
<% content_for(:title, "Actor Search") %>

  <%= form_tag '/tmdb/actor_search', { class: "form-class", id: "actor-search", role: "form", method: :get } do %>
    <%= text_field_tag :actor, nil, class: "form-control search-form", id: "actor_name_actor_search", placeholder: "Enter Actor Name" %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), {:prompt => "Sort by...", class: "form-control search-form", :include_blank => false } %>
    <%= submit_tag "Search", id: "submit_button_actor_search", class: "form-control-submit search-form-submit" %>
  <% end %>

<% else %>

  <% if @not_found.present? %>
      <h2>Hmm. <%= @not_found %></h2>
      <p>Check your spelling and try again.</p>
      <p class="button-main"><%= link_to "Search Again", actor_search_path, id: "actor_search_nav_link" %></p>

  <% else %> <!-- #if @not_found.present -->
    <% content_for(:title, @actor.titlecase) %>

    <h2>Here are the movies that <%= @actor.titlecase %> has been in:</h2>
    <p class="button-main"><%= link_to "See #{@actor.titlecase}'s Bio & Credits", actor_more_path(actor_id: @actor1_id) %> <%= link_to "Search Again", actor_search_path %> </p>

    <div class="row">
      <div id ="movies_actor_search_loop">
        <%= render partial: 'movies/movie_partial_loop', object: @movies %>
      </div> <!-- movies_actor_search_loop -->
    </div> <!-- row -->

    <%= "Page #{@page} of #{@total_pages}" %></br>

    <% if @previous_page.present? %>
      <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
    <% end %>

    <% if @next_page.present? %>
      <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
    <% end %>

  <% end %> <!-- #if @not_found.present? -->

<% end %> <!-- # if @actor.present? -->


