
<% if !@actor.present? %>

  <h1>Search the TMDB Database for an actor</h1>

  <%= form_tag '/tmdb/actor_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor %></br>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), :include_blank => true %></br>
    <%= submit_tag "Search" %>
  <% end %>


  <p><%= link_to "Or see what movies two actors have been in together!", two_actor_search_path %></p>
  <p><%= link_to "Or search two movies to see similar actors", two_movie_search_path %></p>

<% else %>

  <% if !@discover_results.present? %>
      <h2>Hmm. No actor found for that search. Check your spelling and try again.</h2>
    <% else %>
      <h2>Here are the movies that actor has been in:</h2>
      <p><%= link_to "Get a full list of credits and bio", actor_more_path(actor_id: @actor_id) %></p>
    <% end %>
  <p><%= link_to "Search again", actor_search_path %> </p>

   <% @discover_results.each do |result| %>
    <% @tmdb_id = result[:id] %>
     <div>
         <%= image_tag "http://image.tmdb.org/t/p/w150#{result[:poster_path]}" %>
        <h3><%= result[:title] %></h3>
        <p><%= result[:release_date] %></p>
        <p><%= result[:vote_average] %></p>
        <p><%= result[:overview] %></p>
        <p><%= link_to "More info", movie_more_path(movie_id: "#{result[:id]}") %></p>
        <% if current_user.all_movies.include?(Movie.find_by(tmdb_id: result[:id])) %>
          <p>On List</p>
        <% else %>
          <p>Add this movie to a list:</p>
          <p>
          <%= form_for(Listing.new) do |f| %>
            <%= f.collection_select :list_id, current_user.all_lists, :id, :name %>
            <%= hidden_field_tag :tmdb_id, @tmdb_id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= f.submit "add movie to list" %>
          <% end %>
          </p>
        <% end %>
    <% end %>

    <%= "Page #{@page} of #{@total_pages}" %></br>

    <% if @previous_page.present? %>
      <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
    <% end %>

    <% if @next_page.present? %>
      <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
    <% end %>

<% end %>


