<article id="profile">
  <div class="row">
    <h1><%= link_to "#{@credit.actor_name}", actor_more_path(actor_id: @credit.actor_id) %> <%= "as #{@credit.character}" if @credit.character.present? %> on <%= link_to "#{@credit.show_name}", tv_series_path(show_id: @credit.show_id) %></h1>
    <div class="pull-left">
       <p class="button-main"><%= link_to "Back to Actor Profile", actor_more_path(actor_id: @credit.actor_id) %> </p>
    </div> <!-- pull-left -->
  </div><!-- row -->
  <br>

  <div class="row">
    <% if @credit.episodes.present? %>
      <h2>Episodes with <%= @credit.actor_name %></h2>
      <table class="table">
        <tbody>
          <% @credit.episodes.each do |episode| %>
            <tr>
              <td>
                <h2>Air date: <%= episode.air_date %></h2>
                <p><%= "Overview: #{episode.overview}" if episode.overview.present? %></p>
                <p><%= link_to "Season: #{episode.season_number}", tv_season_path(season_number: episode.season_number, show_id: @credit.show_id, actor_id: @credit.actor_id) %>, Episode: <%= episode.episode_number %></p>
                <% if episode.still_path.present? %>
                  <p>
                    <%= image_tag(TmdbImageUrlHelper.image_url(file_path: episode.still_path, size: :medium, image_type: :still)) %>
                  </p>
                <% end %>
              </td>
            </tr>
          <% end %><!-- @credit.episodes loop-->
        </tbody>
      </table>
    <% end %> <!-- if @credit.episodes.present? -->
  </div> <!-- row -->
  <br>

  <% if @credit.seasons.present? %>
    <h2>Seasons with <%= @credit.actor_name %></h2>
    <table class="table">
      <% @credit.seasons.each do |season| %>
      <tr>
        <td>
          <%= image_tag(TmdbImageUrlHelper.image_url(file_path: season.poster_path, size: :xsmall, image_type: :poster)) if season.poster_path.present? %>
        </td>
        <td><%= link_to "Season: #{season_number_display(season.season_number)}", tv_season_path(season_number: season.season_number, show_id: @credit.show_id, actor_id: @credit.actor_id) %></td>
        <td>Air date: <%= season.air_date %></td>
      </tr>
      <% end %><!-- seasons loop -->
    </table>
  <% end %><!-- if @credit.seasons.present? -->
</article>
