
<% if !@name.present? %>

  <h1>Search the TMDB Database for an actor</h1>

  <%= form_tag '/tmdb/actor_search', method: :get do %>
    <%= label_tag :name, "Enter Actor Name: " %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search" %>
  <% end %>


  <h3><%= link_to "Or see what movies two actors have been in together!", two_actor_search_path %></h3>

<% else %>

  <% if !@been_in.present? %>
      <h2>Hmm. No actor found for that search. Check your spelling and try again.</h2>
    <% else %>
      <h2>Here are the results for that actor:</h2>
    <% end %>
  <p><%= link_to "Search again", actor_search_path %> </p>

   <% @been_in.each do |result| %>
    <% @tmdb_id = result[:id] %>
     <div>
         <%= image_tag "http://image.tmdb.org/t/p/w150#{result[:poster_path]}" %>
        <h3><%= result[:title] %></h3>
        <p><%= result[:release_date] %></p>
        <p><%= result[:vote_average] %></p>
        <p><%= result[:overview] %></p>
        <p><%= link_to "More info", "/tmdb/more?movie_id=#{result[:id]}" %></p>
        <% if current_user.all_movies.include?(Movie.find_by(tmdb_id: result[:id])) %>
          <p>On List</p>
        <% else %>
          <p>Add this movie to a list:</p>
          <p>
          <%= form_for(Listing.new) do |f| %>
            <%= f.collection_select :list_id, current_user.all_lists, :id, :name %>
            <%= hidden_field_tag :tmdb_id, @tmdb_id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= f.submit "add movie to list" %>
          <% end %>
          </p>
        <% end %>
    <% end %>

    <%= "Page #{@page} of #{@total_pages}" %></br>

    <% if @previous_page.present? %>
      <%= link_to "Previous page", actor_search_path(name: "#{@name}", page: "#{@previous_page}") %>
    <% end %>

    <% if @next_page.present? %>
      <%= link_to "Next page", actor_search_path(name: "#{@name}", page: "#{@next_page}") %>
    <% end %>

<% end %>


