<div class='person-more credits mt-10'>
  <%= render 'tmdb/image_and_bio', profile: @data.actor.profile %>
  <%= link_to 'Movie Poster View', actor_movie_posters_uri(@data.actor.profile), class: 'inline-block mt-10' %>

  <div class='credits-container mt-10'>
    <section class='credits-section'>
      <%= render partial: "movie_credits", locals: { person_profile: @data.actor.profile, movie_credits: @data.actor.movie_credits } %>
    </section>

    <section class='credits-section'>
      <%= render partial: "tv_credits", locals: { tv_credits: @data.actor.tv_credits, actor_id: @data.actor.person_id }  %>
    </section>

    <section class='credits-section seen-movies'>
      <%= render partial: "seen_movie_credits", locals: { movies_seen: @data.movies_seen } %>
    </section>

    <section class='credits-section'>
      <%= render partial: "director_credits", locals: { movie_credits: @data.actor.movie_credits, tv_credits: @data.actor.tv_credits }  %>
    </section>

    <section class='credits-section'>
      <%= render partial: "producer_credits", locals: { movie_credits: @data.actor.movie_credits, tv_credits: @data.actor.tv_credits }  %>
    </section>

    <section class='credits-section'>
      <%= render partial: "editor_credits", locals: { movie_credits: @data.actor.movie_credits, tv_credits: @data.actor.tv_credits }  %>
    </section>

    <section class='credits-section'>
      <%= render partial: "writer_credits", locals: { movie_credits: @data.actor.movie_credits, tv_credits: @data.actor.tv_credits }  %>
    </section>

    <section class='credits-section'>
      <%= render partial: "screenplay_credits", locals: { movie_credits: @data.actor.movie_credits, tv_credits: @data.actor.tv_credits }  %>
    </section>
  </div>
</div>
