
<% if !@actor.present? %>

  <h1>Search the TMDB Database for an actor</h1>

  <%= form_tag '/tmdb/actor_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor, nil, id: "actor_name_actor_search" %></br>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), :include_blank => true %></br>
    <%= submit_tag "Search", id: "submit_button_actor_search" %>
  <% end %>


  <p><%= link_to "Or see what movies two actors have been in together!", two_actor_search_path %></p>
  <p><%= link_to "Or search two movies to see common actors", two_movie_search_path %></p>

<% else %>

  <% if !@discover_results.present? %>
      <h2>Hmm. No actor found for that search. Check your spelling and try again.</h2>
    <% else %>
      <h2>Here are the movies that <%= @actor %> has been in:</h2>
      <p><%= link_to "Get a full list of credits and bio", actor_more_path(actor_id: @actor1_id) %></p>
    <% end %>
  <p><%= link_to "Search again", actor_search_path %> </p>

  <div id ="movies_actor_search_loop">

    <% @movies.each do |movie| %>

      <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
        <%= render partial: 'movies/movie', object: movie %>
      </div>

    <% end %>

  </div>

  <%= "Page #{@page} of #{@total_pages}" %></br>

  <% if @previous_page.present? %>
    <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
  <% end %>

  <% if @next_page.present? %>
    <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
  <% end %>

<% end %>


