<% content_for(:title, "Actor Search") %>

<% if !@actor.present? %>

  <h1>Search by Actor</h1>

  <%= form_tag '/tmdb/actor_search', { class: "form-class", id: "actor-search", role: "form", method: :get } do %>
    <%= text_field_tag :actor, nil, class: "form-control search-form autocomplete-search-field", id: "actor_name_actor_search", placeholder: "Enter Actor Name", data: { autocomplete_source: person_autocomplete_path } %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), {:prompt => "Sort by...", class: "form-control search-form", :include_blank => false } %>
    <%= submit_tag "Search", id: "submit_button_actor_search", class: "form-control-submit search-form-submit" %>
  <% end %>

<% else %>

  <% if @not_found.present? %>
      <h2>Hmm. <%= @not_found %></h2>
      <p>Check your spelling and try again.</p>
      <p class="button-main"><%= link_to "Search Again", actor_search_path, id: "actor_search_again_link" %></p>

  <% else %> <!-- #if @not_found.present -->

    <h1>Movies that <%= @actor.titlecase %> has been in:</h1>

    <p class="button-main"><%= link_to "#{@actor.titlecase}'s Full Credits & Bio", actor_more_path(actor_id: @actor1_id), id: "bio_and_credits_link_actor_search" %></p>

    <div class="row">
      <div id ="movies_actor_search_loop">
        <%= render partial: 'movies/movie_partial_loop', object: @movies %>
      </div> <!-- movies_actor_search_loop -->
    </div> <!-- row -->

    <p class="button-main"><%= link_to "Search Again", actor_search_path, id: "actor_search_again_link" %></p></br>

    <%= "Page #{@page} of #{@total_pages}" %>

    <div class="row">
      <% if @previous_page.present? %>
        <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}", sort_by: params["sort_by"]) %></br>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}", sort_by: params["sort_by"]) %>
      <% end %>
    </div>

  <% end %> <!-- #if @not_found.present? -->

<% end %> <!-- # if @actor.present? -->

<br>


