<article id="profile">
  <div class="row">
    <div class="summary-box">
      <%= image_tag "http://image.tmdb.org/t/p/w185#{@person_profile.profile_path}" %>
      <div class="contents">
        <h1><%= @person_profile.name %></h1>
        <h2>Born: <%= display_birthday_info(@person_profile) %></h2>
        <p class="bio"><%= @person_profile.bio %></p>
      </div> <!-- contents -->
    </div> <!-- summary-box -->
  </div> <!-- row -->

  <div class="row">
    <div class="credits">

      <%= render "movie_credits" %>

      <%= render "tv_credits" %>

      <%= render "director_credits" %>

      <%= render "producer_credits" %>

      <%= render "editor_credits" %>

      <%= render "writer_credits" %>

      <%= render "screenplay_credits" %>

    </div> <!-- credits -->
  </div> <!-- row -->
</article>
