<article id="profile">
  <div class="row">
    <div class="summary-box">
      <%= image_tag "http://image.tmdb.org/t/p/w185#{@person_bio.profile_path}" %>
      <div class="contents">
        <h1><%= @person_bio.name %></h1>
        <h2>Born: <%= @person_bio.birthday.stamp("June 9th, 2001") if @person_bio.birthday.present?  %></h2>
        <p class="bio"><%= @person_bio.bio %></p>
      </div> <!-- contents -->
    </div> <!-- summary-box -->
  </div> <!-- row -->
  <div class="row">
    <div class="credits">

      <%= render "director_credits" %>

      <%= render "producer_credits" %>

      <%= render "editor_credits" %>

      <%= render "writer_credits" %>

      <%= render "screenplay_credits" %>

      <%= render "movie_credits" %>

      <%= render "tv_credits" %>

    </div> <!-- credits -->
  </div> <!-- row -->
</article>

