<% content_for(:title, "Advanced Movie Search") %>

<h1>Advanced Search</h1>

<% if @data.blank? %>
  <h2>All fields are optional. Search by whatever you want.</h2>
  <%= form_tag '/tmdb/discover_search', { class: 'form', method: :get } do %>
      <div>
        <%= text_field_tag :actor_name, nil, class: "autocomplete-search-field", placeholder: "Enter Actor Name", data: { autocomplete_source: person_autocomplete_path } %>
        <%= select_tag :genre, options_for_select(MovieDataService::GENRES), include_blank: "Pick a genre" %>
      </div>
      <div>
        <%= select_year(0,
          { prompt: "Enter a year", start_year: DateTime.now.year, end_year: DateTime.now.year - 100 },
          { field_name: :year, prefix: :year }
        )%>
        <%= select_tag :timeframe, options_for_select(MovieDataService::YEAR_SELECT), {include_blank: "Year select" } %>
      </div>
        <%= select_tag :mpaa_rating, options_for_select(MovieDataService::MPAA_RATINGS), { include_blank: "Pick a rating" } %>
        <%= select_tag :sort_by, options_for_select(MovieDataService::SORT_BY), {  include_blank: "Sort by" } %>
      <%= submit_tag "Search" %>
  <% end %>
<% end %>

<% if @data&.movies.blank? && @data&.not_found_message.present? %>
  <h2>Hmm. <%= @data.not_found_message %></h2>
  <%= link_to "Search Again", discover_search_path %>
<% end %>

<% if @data&.movies.present? %>
  <h2>Here are the results for: <%= "#{@data.searched_terms}" %></h2>
  <%= link_to "Search Again", discover_search_path %>

  <%= render partial: 'movies/movie_partial_loop', locals: { movies: @data.movies } %>

 <!--TODO: Add common pagination-->
  <div class='text-center'>
    <%= link_to "Previous page", discover_search_path(@data.searched_params.merge(page: @data.previous_page)) if @data.previous_page.present? %>

    <%= "Page #{@data.current_page} of #{@data.total_pages}" %>

    <%= link_to "Next page", discover_search_path(@data.searched_params.merge(page: @data.next_page)) if @data.next_page.present? %>
  </div>
<% end %>
