<% if !@discover_results.present? %>

<h1>Search by various combos.</h1>

  <%= form_tag '/tmdb/discover_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor %></br>
    <%= label_tag :actor2, "Enter Other Actor Name: " %>
    <%= text_field_tag :actor2 %></br>
    <%= label_tag :mpaa_rating, "Enter MPAA rating: " %>
    <%= select_tag :mpaa_rating, options_for_select(Movie::MPAA_RATINGS), :include_blank => true %></br>
    <%= label_tag :year, "Enter a Year: " %>
    <%= text_field_tag :year %>
    <%= label_tag :year_select %>
    <%= select_tag :year_select, options_for_select(Movie::YEAR_SELECT), :include_blank => true %></br>
    <%= label_tag :genre, "Pick a genre: " %>
    <%= select_tag :genre, options_for_select(Movie::GENRES), :include_blank => true %></br>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), :include_blank => true %></br>
    <%= submit_tag "Search" %>
  <% end %>

<% else %>

  <% if !@discover_results.present? %>
      <h2>Hmm. No matching movies found. Check spelling to be sure.</h2>
    <% else %>
      <h2>Here are the matching movies: for <%= "#{@actor}, #{@actor2}, #{@mpaa_rating}, #{@year_select},
      #{@year}, genre: #{@genre}, sorted by: #{@sort_by}, page: #{@page}" %></h2>
    <% end %>
  <br>
  <p><%= link_to "Search again", discover_search_path %> </p>

  <%= render 'search_results' %>

    <%= "Page #{@page} of #{@total_pages}" %></br>

    <% if @previous_page.present? %>
      <%= link_to "Previous page", discover_search_path(year: @year, year_select: @year_select, genre: @genre, actor: @actor,
        actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, sort_by: @sort_by, page: "#{@previous_page}") %>
    <% end %>

    <% if @next_page.present? %>
      <%= link_to "Next page", discover_search_path(year: @year, year_select: @year_select, genre: @genre, actor: @actor,
        actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, sort_by: @sort_by, page: "#{@next_page}") %>
    <% end %>

<% end %>