<% if !@movies.present? %>

<h1>Search by various combos.</h1>
<h2>All fields are optional. Search by whatever you want.</h2>
<h3>Searh by top comedies from 2010, movies with Brad Pitt after 2012, or any combo you like!</h3>

  <%= form_tag '/tmdb/discover_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor, nil, id: "actor_field_discover_search" %></br>
    <%= label_tag :mpaa_rating, "Enter MPAA rating: " %>
    <%= select_tag :mpaa_rating, options_for_select(Movie::MPAA_RATINGS), :include_blank => true, id: "mpaa_field_discover_search" %></br>
    <%= label_tag :year, "Enter a Year: " %>
    <%= text_field_tag :year, nil, id: "year_field_discover_search" %>
    <%= label_tag :year_select %>
    <%= select_tag :year_select, options_for_select(Movie::YEAR_SELECT), :include_blank => true, id: "year_select_discover_search" %></br>
    <%= label_tag :genre, "Pick a genre: " %>
    <%= select_tag :genre, options_for_select(Movie::GENRES), :include_blank => true, id: "genre_field_discover_search" %></br>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), :include_blank => true, id: "sort_by_discover_search" %></br>
    <%= submit_tag "Search", id: "search_button_discover_search" %>
  <% end %> <!-- #search form do -->

<% else %> <!-- #if !@movies.present? -->

  <% if @not_found.present? %>
      <h2>Hmm. <%= @not_found %> Check spelling to be sure.</h2>
    <% else %><!--  #if @not_found.present? -->
      <h2>Here are the matching movies: for <%= "#{@actor}, #{@actor2}, #{@mpaa_rating}, #{@year_select},
      #{@year}, genre: #{@genre}, sorted by: #{@sort_by}, page: #{@page}" %></h2>
      <br>
      <p><%= link_to "Search again", discover_search_path %> </p>

        <% @movies.each do |movie| %>

        <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
          <%= render partial: 'movies/movie', object: movie %>
        </div>

      <% end %> <!-- #movies loop -->

      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", discover_search_path(year: @year, year_select: @year_select, genre: @genre, actor: @actor,
          actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, sort_by: @sort_by, page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", discover_search_path(year: @year, year_select: @year_select, genre: @genre, actor: @actor,
          actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, sort_by: @sort_by, page: "#{@next_page}") %>
      <% end %>

  <% end %><!--  #if @not_found.present? -->

<% end %> <!-- #if !@movies.present? -->