<% content_for(:title, "Search for Movies") %>

<h1>Advanced Search</h1>

<% if @results&.movies.blank? && @results&.not_found_message.blank? %>
  <h2>All fields are optional. Search by whatever you want.</h2>
  <%= form_tag '/tmdb/discover_search', { class: 'form-class', id: 'discover-search', role: 'form', method: :get } do %>
    <div class="row">
      <%= text_field_tag :actor, nil, class: "form-control search-form autocomplete-search-field", id: "actor_field_discover_search", placeholder: "Enter Actor Name", data: { autocomplete_source: person_autocomplete_path } %>
      <%= select_tag :genre, options_for_select(Movie::GENRES), { class: "form-control search-form", id: "genre_field_discover_search", :include_blank => "Pick a genre" } %></br>
      <%= select_year(0, {:prompt => "Enter a year", :start_year => DateTime.now.year, :end_year => DateTime.now.year - 100}, {:field_name => :year, :prefix => :year, :id => "year_field_discover_search", class: "form-control search-form" }) %>
      <%= select_tag :year_select, options_for_select(Movie::YEAR_SELECT), { class: "form-control search-form", id: "year_select_discover_search", :include_blank => "Year select" } %></br>
      <%= select_tag :mpaa_rating, options_for_select(Movie::MPAA_RATINGS), { class: "form-control search-form", id: "mpaa_field_discover_search", :include_blank => "Pick a rating" } %></br>
      <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), { class: "form-control search-form", id: "sort_by_discover_search", :include_blank => "Sort by" } %>
      <br>
      <div class="row">
        <br></br><br></br>
        <p><%= submit_tag "Search", id: "search_button_discover_search", class: "form-control-submit search-form-submit" %></p>
      </div> <!-- row -->
    </div> <!-- row -->
  <% end %> <!-- #search form do -->

<% else %> <!-- we have either an not-found message or movie results -->
  <% if @results.not_found_message.present? %>
    <h2>Hmm. <%= @results.not_found_message %></h2>
    <p>Check your spelling and try again.</p>
    <p class="button-main"><%= link_to "Search Again", discover_search_path, id: "discover_search_nav_link" %></p>
  <% else %><!--  we have movie results -->
    <% content_for(:title, "Search Results") %>
    <h2>Here are the results for: <%= "#{display_advanced_search_terms(@results.original_search)}" %></h2><br>
    <p class="button-main"><%= link_to "Search Again", discover_search_path %></p><br>

    <div id ="discover_search_loop">
      <%= render partial: 'movies/movie_partial_loop', locals: { movies: @results.movies } %>
    </div>

    <span class="button-main"><%= link_to "Previous page", discover_search_path(@results.original_search.merge(page: "#{@results.previous_page}")) if @results.previous_page.present? %></span>
    <%= "Page #{@results.current_page} of #{@results.total_pages}" %>
    <span class="button-main"><%= link_to "Next page", discover_search_path(@results.original_search.merge(page: "#{@results.next_page}")) if @results.next_page.present? %></span>
  <% end %><!--  #if @not_found.present? -->
<% end %> <!-- #if !@results.movies.present? -->
