<% content_for(:title, "Search for Movies") %>

<% if !@movies.present? %>


<h1>Search by various combos.</h1>
<h2>All fields are optional. Search by whatever you want.</h2>

  <%= form_tag '/tmdb/discover_search', { class: 'form-class', id: 'discover-search', role: 'form', method: :get } do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor, nil, class: 'form-control', id: "actor_field_discover_search", placeholder: "Enter actor name" %></br>
    <%= label_tag :genre, "Pick a genre: " %>
    <%= select_tag :genre, options_for_select(Movie::GENRES), { class: "form-control", id: "genre_field_discover_search", :include_blank => "Pick a genre" } %></br>
    <%= label_tag :year, "Enter a Year: " %>
    <%= select_year(0, {:prompt => "Enter a year", :start_year => DateTime.now.year, :end_year => DateTime.now.year - 100}, {:field_name => :year, :prefix => :year, :id => "year_field_discover_search", class: "form-control" }) %>
    <%= select_tag :year_select, options_for_select(Movie::YEAR_SELECT), { class: "form-control", id: "year_select_discover_search", :include_blank => "Year select" } %></br>
    <%= label_tag :mpaa_rating, "Enter MPAA rating: " %>
    <%= select_tag :mpaa_rating, options_for_select(Movie::MPAA_RATINGS), { class: "form-control", id: "mpaa_field_discover_search", :include_blank => "Pick a rating" } %></br>
    <%= label_tag :sort_by, "Sort by: " %>
    <%= select_tag :sort_by, options_for_select(Movie::SORT_BY), { class: "form-control", id: "sort_by_discover_search", :include_blank => "Sort by" } %></br>
    <%= submit_tag "Search", id: "search_button_discover_search" %>
  <% end %> <!-- #search form do -->

<% else %> <!-- #if !@movies.present? -->

  <% if @not_found.present? %>
      <h2>Hmm. <%= @not_found %> Check spelling to be sure.</h2>
    <% else %><!--  #if @not_found.present? -->
      <% content_for(:title, "Search Results") %>
      <h2>Here are the results for: <%= "#{@params_for_view}" %></h2>
      <br>
      <p><%= link_to "Search again", discover_search_path %> </p>

    <div id ="discover_search_loop">
      <%= render partial: 'movies/movie_partial_loop', object: @movies %>
    </div>


      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", discover_search_path(sort_by: @sort_by, date: @date, genre: @genre, actor: @actor, actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, year_select: @year_select, page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", discover_search_path(sort_by: @sort_by, date: @date, genre: @genre, actor: @actor, actor2: @actor2, company: @company, mpaa_rating: @mpaa_rating, year_select: @year_select, page: "#{@next_page}") %>
      <% end %>

  <% end %><!--  #if @not_found.present? -->

<% end %> <!-- #if !@movies.present? -->
