<h1>Movie: <%= @title %></h1>

  <%= image_tag "http://image.tmdb.org/t/p/w780#{@result[:backdrop_path]}" %><br>
  <%= image_tag "http://image.tmdb.org/t/p/w150#{@result[:poster_path]}" %>

  <% if current_user.all_movies.include?(Movie.find_by(tmdb_id: @tmdb_id)) %>
    <p>On List(s): <%= raw Movie.find_by(tmdb_id: @tmdb_id).lists.by_user(current_user).map { |l| link_to l.name, user_list_path(current_user, l.slug) }.join(', ') %> </p>
  <% else %>
    <p>Add this movie to a list:</p>
    <p>
    <%= form_for(Listing.new) do |f| %>
      <%= f.collection_select :list_id, current_user.all_lists, :id, :name %>
      <%= hidden_field_tag :tmdb_id, @tmdb_id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= f.submit "add movie to list" %>
    <% end %>
    </p>
  <% end %>

  <p>Release Date: <%= @release_date %></p>
  <p>Rated: <%= @mpaa_rating %></p>
  <p>TMDB Vote Average: <%= @vote_average %></p>
  <p>Genres: <%= raw @genre_list.map { |g| g[:name] }.map { |g| link_to g, genre_path(genre: g) }.join(', ') %></p>
  <p>Overview: <%= @overview %></p>
  <p>Actors: <%= raw @cast.map { |cast| cast[:name] }.map { |a| link_to a, actor_search_path(actor: a) }.join(', ') %></p>
  <p>Director: <%= link_to "#{@director}", director_search_path(director_id: @director_id, name: @director) %></p>
  <p>Production Companies: <%= raw @production_companies.map { |p| link_to "#{p[:name]}", discover_search_path(company: "#{p[:id]}", sort_by: "release_date") }.join(', ') %></p>
  <p>Trailer:</p>
  <% if @youtube_trailers.present? %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @trailer_url %>" frameborder="0" allowfullscreen></iframe>
  <% else %>
    <a href="https://www.youtube.com/results?search_query=<%= @title %>+movie+official+trailer" target="_blank">Watch the Trailer</a>
  <% end %>

  <h2>Similar Movies:</h2>
   <% @similar.each do |result| %>
   <div>
       <%= image_tag "http://image.tmdb.org/t/p/w150#{result[:poster_path]}" %>
      <h3><%= result[:title] %></h3>
      <p><%= result[:release_date] %></p>
      <p><%= result[:vote_average] %></p>
      <p><%= result[:overview] %></p>
      <p><%= link_to "More info", movie_more_path(movie_id: "#{result[:id]}") %></p>
  <% end %>