<% if !@movie_title.present? %>
<% content_for(:title, "Search by Title") %>

  <h1 id="search_by_title_header">Search for a movie by movie title:</h1>

  <%= form_tag '/tmdb/search', method: :get do %>
    <%= label_tag :movie_title, "Enter Title: " %>
    <%= text_field_tag :movie_title %>
    <%= submit_tag "Search", id: "search_by_title_button" %>
  <% end %>
</br>

<% else %>

  <% if @not_found.present? %>
      <h2>Hmm. <%= @not_found %> Check spelling to be sure.</h2>
      <p><%= link_to "Search again", api_search_path %> </p>

  <% else %> <!-- # if @not_found.present? -->
  <% content_for(:title, "Results for #{@query}") %>
    <h2>Movies matching '<%= @query %>':</h2>

    <br>
      <%= form_tag '/tmdb/search', method: :get do %>
        <%= label_tag :movie_title, "Enter Title: " %>
        <%= text_field_tag :movie_title %>
        <%= submit_tag "Search Again", id: "search_by_title_again_button" %>
      <% end %>
    </br>

    <div id ="movies_search_loop">
      <%= render partial: 'movies/movie_partial_loop', object: @movies %>
    </div> <!-- movies_search_loop -->

  <% end %> <!-- # if @not_found.present? -->

<% end %> <!-- #initial if @movie_title.present? -->