<% content_for(:title, "Search by Movie Title") %>

<% if @movie_title.blank? %>
  <h1>Search for a Movie by Title</h1>
  <%= form_tag '/tmdb/search', { class: "form", method: :get } do %>
    <%= text_field_tag :movie_title, nil,
      class: "autocomplete-auto-submit",
      required: true,
      placeholder: "Enter Movie Title",
      data: { autocomplete_source: movie_autocomplete_path }
    %>
    <%= submit_tag "Search" %>
  <% end %>

<% else %>
  <% if @search_results.not_found_message.present? %>
    <h2>Hmm. <%= @search_results.not_found_message %></h2>
    <p class='mb-10'>Check your spelling and try again.</p>
    <%= link_to "Search Again", api_search_path, class: 'btn' %>

  <% else %>
    <h2 class="mb-10">Movies matching '<%= @search_results.query %>'</h2>

    <!--TODO: clean this up to not repeat the form-->
    <%= form_tag '/tmdb/search', { method: :get } do %>
      <%= text_field_tag :movie_title, nil,
        class: "autocomplete-auto-submit",
        required: true,
        placeholder: "Enter Movie Title",
        data: { autocomplete_source: movie_autocomplete_path }
      %>
      <%= submit_tag "Search Again" %>
    <% end %>

    <%= render partial: 'movies/movie_partial_loop', locals: { movies: @search_results.movies } %>
  <% end %>
<% end %>
