<% if !@movie_title.present? %>

  <h1>Search the TMDB Database to Find a Movie</h1>

  <%= form_tag '/tmdb/search', method: :get do %>
    <%= label_tag :movie_title, "Enter Title: " %>
    <%= text_field_tag :movie_title %>
    <%= submit_tag "Search" %>
  <% end %>
</br>

<% else %>

  <% if !@results.present? %>
    <h2>Darn it. No movie found for that search.</h2>
  <% else %>
    <h2>Here are the matching movies from TMDB</h2>
  <% end %>
<br>
  <%= form_tag '/tmdb/search', method: :get do %>
    <%= label_tag :movie_title, "Enter Title: " %>
    <%= text_field_tag :movie_title %> <%= submit_tag "Search Again" %>
  <% end %>
</br>

     <% @results.each do |result| %>
       <div>
        <% @tmdb_id = result[:id] %>
        <% @movie = Movie.find_by(tmdb_id: result[:id]) %>
          <%= image_tag "http://image.tmdb.org/t/p/w150#{result[:poster_path]}" %>
          <h3><%= result[:title] %></h3>
          <p>Release date: <%= result[:release_date] %></p>
          <p>Vote average: <%= result[:vote_average] %></p>
          <p>Overview: <%= result[:overview] %></p>
          <p><%= link_to "More info", movie_more_path(movie_id: "#{result[:id]}") %></p>

          <% if @movie.present? %>

            <% if current_user.all_movies.include?(@movie) %>

              <p>On List(s):
              <% @movie.lists.by_user(current_user).each do |list| %>
                <%= link_to "#{list.name}", user_list_path(current_user, list.slug) %>
              <% end %> <!-- #list loop -->
              </p>

            <% else %>
              <p>This movie is not on your lists. Add it to a list:</p>
            <% end %> <!-- # if current_user.all_movies.include?(@movie) -->

            <%= form_for(Listing.new) do |f| %>
              <%= f.collection_select :list_id, current_user.lists_except_movie(@movie), :id, :name %>
              <%= hidden_field_tag :tmdb_id, @tmdb_id %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= f.submit "add movie to list" %>
            <% end %>

            </p>

          <% else %> <!-- #if @movie.present? -->

            <p>This movie is not on your lists. Add it to a list:</p>
              <%= form_for(Listing.new) do |f| %>
                <%= f.collection_select :list_id, current_user.all_lists, :id, :name %>
                <%= hidden_field_tag :tmdb_id, @tmdb_id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= f.submit "add movie to list" %>
              <% end %>

          <% end %> <!-- #if @movie present -->
          </br>
          <hr>
        </div>
        <% end %> <!-- #results loop -->

<% end %> <!-- #initial if @movie_title.present? -->