<% content_for(:title, "Similar to #{@movie.title}") %>
<h1>Movies similar to <%= link_to "#{@movie.title}", movie_more_path(tmdb_id: @movie.tmdb_id) %></h1>

    <div id ="similar_movies_loop">
      <%= render partial: 'movies/movie_partial_loop', object: @movies %>
    </div>


  <%= "Page #{@page} of #{@total_pages}" %></br>

  <% if @previous_page.present? %>
    <%= link_to "Previous page", similar_movies_path(tmdb_id: @tmdb_id, page: @previous_page) %>
  <% end %>

  <% if @next_page.present? %>
    <%= link_to "Next page", similar_movies_path(tmdb_id: @tmdb_id, page: @next_page) %>
  <% end %>