<h2>
  <%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> /
  <%= link_to "Season #{@season.season_number}", tv_season_path(show_id: @series.show_id, season_number: @season.season_number, show_name: @series.show_name) %> /
  Episode <%= @episode.episode_number %>
</h2>

<div>
  <h1><%= @episode.name %></h1>
  <%= image_tag("http://image.tmdb.org/t/p/w185#{@episode.still_path}", class: 'pull-left', style: 'padding-right: 20px;') if @episode.still_path.present? %>
  <p>
    <%= @episode.overview %>
    <% if @episode.air_date.present? %>
      Aired on <%= @episode.air_date.stamp("01-02-2001") %>
    <% end %>
  </p>
</div>

<div class="row", style="clear: both;">
  <h2>Cast</h2>
  <% @season.cast_members.each do |actor| %>
    <div class="headshot-container">
    <%= headshot_for(actor) %>
      <div class="name-block">
        <p class="actor"><%= link_to "#{truncate(actor.name, length: 18)}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
        <p>as <%= truncate(actor.character_name, length: 18) %><p>
      </div> <!-- name-block -->
    </div> <!-- headshot-container -->
  <% end %>
  <% if @episode.guest_stars.present? %>
    <% @episode.guest_stars.each do |actor| %>
      <div class="headshot-container">
      <%= headshot_for(actor) %>
        <div class="name-block">
          <p class="actor"><%= link_to "#{truncate(actor.name, length: 18)}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
          <p>as <%= truncate(actor.character_name, length: 18) %><p>
        </div> <!-- name-block -->
      </div> <!-- headshot-container -->
    <% end %>
  <% end %>
</div> <!-- row -->
