<h2>
  <%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> /
  <%= link_to "Season #{@season.season_number}", tv_season_path(show_id: @series.show_id, season_number: @season.season_number, show_name: @series.show_name) %> /
  Episode <%= @episode.episode_number %>
</h2>

<h1><%= @episode.name %></h1>
<%= image_tag(TmdbImageService.image_url(file_path: @episode.still_path, size: :large, image_type: :still)) if @episode.still_path.present? %>
<% if @episode.air_date.present? %>
  <p>Aired on <%= @episode.air_date.stamp("01-02-2001") %></p>
<% end %>
<p><%= @episode.overview %></p>

<h2>Cast</h2>
<div class="cast-container">
<% @season.cast_members.each do |actor| %>
  <div class="headshot-container">
  <%= headshot_for(actor) %>
    <div class="name-block">
      <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_more_path(actor_id: actor.actor_id)  %></p>
      <p>as <%= truncate(actor.character_name, length: 18, escape: false) %><p>
    </div>
  </div>
<% end %>
<% if @episode.guest_stars.present? %>
  <% @episode.guest_stars.each do |actor| %>
    <div class="headshot-container">
    <%= headshot_for(actor) %>
      <div class="name-block">
        <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_more_path(actor_id: actor.actor_id)  %></p>
        <p>as <%= truncate(actor.character_name, length: 18, escape: false) %><p>
      </div>
    </div>
  <% end %>
<% end %>
</div>
