<h2>Show name: <%= @show_name %></h2>
<h2><%= image_tag  "http://image.tmdb.org/t/p/w150#{@poster_path}" %></h2>
<h2>First air date: <%= @first_air_date %> </h2>
<h2>Last air date: <%= @last_air_date %> </h2>
<h2>Overview:</h2> <p><%= @overview %></p>
<h2>Number of Episodes: <%= @number_of_episodes %> </h2>
<h2>Number of Seasons: <%= @number_of_seasons %></h2>

<ul>
<% @seasons.each do |season| %>
  <li>Season number: <%= link_to "Season: #{season[:season_number]}",
  tv_season_path(season_number: "#{season[:season_number]}", show_id: @show_id, show_name: @show_name) %></li>
<% end %>
</ul>

<h3>Show Cast:</h3>
<ul>
<% @show_cast.each do |actor| %>
  <li>Actor: <%= link_to "#{actor[:name]}", actor_search_path(name: "#{actor[:name]}")  %></li>
  <li>Character: <%= actor[:character] %></li>
  <li><%= image_tag "http://image.tmdb.org/t/p/w150#{actor[:profile_path]}" if actor[:profile_path].present? %></li>
<% end %>
</ul>
