<h2>
  <%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> / <%= @season.name %>
</h2>

<div class="poster-overview-container">
  <%= image_tag(
    TmdbImageService.image_url(file_path: @season.poster_path, size: :medium, image_type: :poster),
    ) if @season.poster_path.present? %>
  <p><%= @season.overview %></p>
</div>

<div class='season-cast'>
  <% if @season.cast_members.present? %>
    <h2><%= @season.name %> Cast</h2>
     <div class="cast-container">
      <% @season.cast_members.each do |actor| %>
        <div class="headshot-container">
          <%= headshot_for(actor) %>
          <div class="name-block">
            <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
            <p>as <%= truncate(actor.character_name, length: 18, escape: false) %><p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<h2><%= @season.name %> Episodes</h2>
<% @season.episodes.each do |episode| %>
    <h2>
      <%= link_to "#{episode.episode_number}. #{episode.name}",
        tv_episode_path(
          show_id: @series.show_id,
          season_number: @season.season_number,
          episode_number: episode.episode_number) %>
    </h2>
    <div class="episode-container">
      <div class="episode-image-overview-container">
        <%= image_tag(
          TmdbImageService.image_url(file_path: episode.still_path, size: :medium, image_type: :still)
        ) if episode.still_path.present? %>
        <%= episode.overview %>
        <% if episode.air_date.present? %>
          (Aired on <%= episode.air_date.stamp("01-02-2001") %>)
        <% end %>
      </div>
      <div class="guest-stars-container">
        <% if episode.guest_stars.present? %>
          <h3 class='mb-10'>Guest Stars</h3>
          <ul>
            <% episode.guest_stars.each do |guest| %>
              <li>
                <%= link_to "#{guest.name}", actor_search_path(actor: "#{guest.name}") %>
                <%= "as #{guest.character_name}" if guest.character_name.present? %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <hr>
<% end %>
