<h1><%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> <%= @season.name %></h1>
<p class="button-main"><%= link_to "Back to #{@series.show_name}", tv_series_path(show_id: @series.show_id) %></p>

<div class="row">
  <h2>Seasons: |
    <% @series.seasons.each do |season| %>
     <%= link_to season_number_display(season), tv_season_path(show_id: @series.show_id, season_number: season, show_name: @series.show_name) %> |
    <% end %>
  </h2>
</div> <!-- row -->

<div class="row">
  <% if @season.cast_members.present? %>
    <h2><%= @season.name %> Cast</h2>
      <% @season.cast_members.each do |actor| %>
        <div class="headshot-container">
          <%= headshot_for(actor) %>
          <div class="name-block">
            <p class="actor"><%= link_to "#{actor.name}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
            <p>As <%= truncate(actor.character_name, length: 18) %><p>
          </div> <!-- name-block -->
        </div> <!-- headshot-container -->
      <% end %><!-- actors each do -->
  <% end %> <!-- if actors present? -->
</div> <!-- row -->

<hr>

<h2><%= @season.name %> Episodes</h2>
<% @season.episodes.each do |episode| %>
  <div class='row'>
    <h2><%= episode.episode_number %>: <%= episode.name %></h2>
    <div class='col-sm-6'>
      <p><%= image_tag("http://image.tmdb.org/t/p/w185#{episode.still_path}") if episode.still_path.present? %></p>
      <p>
        <%= episode.overview %>
        <% if episode.air_date.present? %>
          (Aired on <%= episode.air_date.stamp("01-02-2001") %>)
        <% end %>
      </p>
    </div>
    <% if episode.guest_stars.present? %>
    <div class='col-sm-6'>
      <h3 style='margin-top: 0;'>Guest Stars</h3>
      <ul>
        <% episode.guest_stars.each do |guest| %>
          <li>
            <%= link_to "#{guest.name}", actor_search_path(actor: "#{guest.name}") %>
            <%= "as #{guest.character_name}" if guest.character_name.present? %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %><!-- if guest star present-->
  </div>
  <hr>
<% end %>

<p class="button-main"><%= link_to "Back to #{@series.show_name}", tv_series_path(show_id: @series.show_id) %></p>
