<h2>
  <%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> / <%= @season.name %>
</h2>

<div class="poster-overview-container">
  <%= image_tag(
    TmdbImageService.image_url(file_path: @season.poster_path, size: :medium, image_type: :poster),
    ) if @season.poster_path.present? %>
  <p><%= @season.overview %></p>
</div>

<hr>

<div class='season-cast'>
  <% if @season.cast_members.present? %>
    <details class='mb-20'>
      <summary><h2 class='inline-block'><%= @season.name %> Cast</h2></summary>

      <div class="cast-container">
        <% @season.cast_members.each do |actor| %>
          <div class="headshot-container">
            <%= headshot_for(actor) %>
            <div class="name-block">
              <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_more_path(actor_id: actor.actor_id)  %></p>
              <p>as <%= truncate(actor.character_name, length: 18, escape: false) %><p>
            </div>
          </div>
        <% end %>
      </div>
    </details>
  <% end %>
</div>

<h2><%= @season.name %> Episodes</h2>

<% @season.episodes.each do |episode| %>
    <details class='mb-20'>
      <summary><h3 class='inline-block'><%= episode.episode_number %>. <%= episode.name %></h3></summary>

      <div class="episode-container">
        <div class="episode-image-overview-container">
          <%= image_tag(TmdbImageService.image_url(
              file_path: episode.still_path,
              size: :large,
              image_type: :still)) if episode.still_path.present? %>

          <p><%= link_to 'Full Episode Details', tv_episode_path(
                show_id: @series.show_id,
                season_number: @season.season_number,
                episode_number: episode.episode_number) %></p>

          <% if episode.air_date.present? %>
            <p>Aired: <%= episode.air_date.stamp("01-02-2001") %></p>
          <% end %>

          <p><%= episode.overview %></p>
        </div>

        <div class="guest-stars-container">
          <% if episode.guest_stars.present? %>
            <h3 class='mb-10'>Guest Stars</h3>
            <ul>
              <% episode.guest_stars.each do |guest| %>
                <li>
                  <%= link_to guest.name, actor_more_path(actor_id: guest.actor_id) %>
                  <% if guest.character_name.present? %>
                    as <%= link_to guest.character_name, actor_credit_path(actor_id: guest.actor_id, credit_id: guest.credit_id,
    show_name: "#{@series.show_name}"), id: "appearance_details_#{@series.show_name.downcase}" %>
                  <% else %>
                    | <%= link_to "episodes", actor_credit_path(actor_id: guest.actor_id, credit_id: guest.credit_id,
    show_name: "#{@series.show_name}"), id: "appearance_details_#{@series.show_name.downcase}" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </details>
<% end %>
