<h1><%= link_to "#{@series.show_name}", tv_series_path(show_id: @series.show_id) %> <%= formatted_season_number(@season_number) %></h1>
<p class="button-main"><%= link_to "Back to #{@series.show_name}", tv_series_path(show_id: @series.show_id) %></p>
<div class="row">
  <h2>Seasons: |
    <% @series.seasons.each do |season| %>
     <%= link_to season_number_display(season), tv_season_path(show_id: @series.show_id, season_number: season, show_name: @series.show_name) %> |
    <% end %>
  </h2>
</div> <!-- row -->

<div class="row">
  <% if @series.actors.present? %>
    <h2><%= formatted_season_number(@season_number) %> Cast</h2>
      <% @series.actors.each do |actor| %>
        <div class="headshot-container">
        <%= headshot_for(actor) %>
          <div class="name-block">
          <p class="actor"><%= link_to "#{actor.name}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
            <p>As <%= truncate(actor.character_name, length: 18) %><p>
          </div> <!-- name-block -->
        </div> <!-- headshot-container -->
        <% end %><!-- actors each do -->
  <% end %> <!-- if actors present? -->
</div> <!-- row -->

<div class="row">
  <h2><%= formatted_season_number(@season_number) %> Episodes</h2>
  <table class="table">
    <tbody>
      <% @episodes.each do |episode| %>
        <tr>
          <td>
            <h2><%= episode.episode_number %>: <%= episode.name %> (<%= episode.air_date.stamp("1/2/2001") %>)</h2>
            <%= episode.overview %>
            <p><%= image_tag("http://image.tmdb.org/t/p/w185#{episode.still_path}") if episode.still_path.present? %></p>

            <% if episode.guest_stars.present? %>
              <h3>Guest Stars</h3>
              <p>
              <% episode.guest_stars.each do |guest| %>
                <%= link_to "#{guest.name}", actor_search_path(actor: "#{guest.name}"), class: 'cast-name-link' %>
              <% end %><!-- each guest star -->
              </p>
            <% end %><!-- if guest star present-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- row -->
<hr>
<p class="button-main"><%= link_to "Back to #{@series.show_name}", tv_series_path(show_id: @series.show_id) %></p>
