<article id="profile">
  <div class="row">
    <div class="summary-box">
      <%= image_tag "http://image.tmdb.org/t/p/w185#{@poster_path}" %>
      <div class="contents">
        <h1><%= @show_name %></h1>
        <p class="stats">TV Series | Aired: <%= @first_air_date %> to <%= @last_air_date %> | Seasons: <%= @number_of_seasons %> | Episodes: <%= @number_of_episodes %> </p>
        <p class="bio"><%= @overview %></p>
      </div> <!-- contents -->
    </div> <!-- summary-box -->
  </div> <!-- row -->

  <div class="row">
    <div class="tv-credits">
    <h2>Seasons: |
      <% @seasons.each do |season| %>
       <%= link_to season_number_display(season), tv_season_path(show_id: @show_id, season_number: season.season_number, show_name: @show_name) %> |
      <% end %>
    </h2>

    <h2>Show Cast:</h2>
    <% @actors.each do |actor| %>
      <div class="headshot-container">
      <%= headshot_for(actor) %>
        <div class="name-block">
        <p class="actor"><%= link_to "#{actor.name}", actor_search_path(actor: I18n.transliterate("#{actor.name}"))  %></p>
          <p>As <%= truncate(actor.character_name, length: 18) %><p>
        </div> <!-- name-block -->
      </div> <!-- headshot-container -->
      <% end %><!-- actors each do -->

    </div> <!-- credits -->
  </div> <!-- row -->
</article>
