
<% if !@actor.present? && !@actor2.present? %>

<h1>Find which movies two actors have been in together.</h1>

  <%= form_tag '/tmdb/two_actor_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor, nil, id: "actor1_field_two_actor_search" %>
    <%= label_tag :actor2, "Enter Other Actor Name: " %>
    <%= text_field_tag :actor2, nil, id: "actor2_field_two_actor_search" %>
    <%= submit_tag "Search", id: "search_button_two_actor_search" %>
  <% end %>

<% else %>

    <% if !@movies.present? %>
      <h2>Hmm. No movies found with those two in it. Check spelling to be sure.</h2>

    <% else %>
      <h2><%= "Those two actors have been in #{@movies.size} movies together:" %></h2>
      <br>

      <div id ="two_actor_search_loop">

        <% @movies.each do |movie| %>

          <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
            <%= render partial: 'movies/movie', object: movie %>
          </div>

        <% end %>

      </div> <!-- # two actor search loop -->

      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
      <% end %>

    <% end %> <!-- # if @movies.present -->

    <p><%= link_to "Search again", two_actor_search_path %> </p>

<% end %>


