<% content_for(:title, "Search by Actors") %>

<h1>Find Common Movies Between 2 Actors</h1>


<% if !@actor.present? && !@actor2.present? %>

<p>Enter two actors and see the movies they've been in together.</p>

  <%= form_tag '/tmdb/two_actor_search', { class: "form-class", id: "two-actor-search", role: "form", method: :get } do %>
    <%= text_field_tag :actor, nil, class: "form-control search-form", id: "actor1_field_two_actor_search", placeholder: "Enter Actor One's Name", data: { autocomplete_source: person_autocomplete_path } %>
    <%= text_field_tag :actor2, nil, class: "form-control search-form", id: "actor2_field_two_actor_search", placeholder: "Enter Actor Two's Name", data: { autocomplete_source: person_autocomplete_path } %>
    <%= submit_tag "Search", id: "search_button_two_actor_search", class: "form-control-submit search-form-submit" %>
  <% end %>

<% else %>

  <% if @not_found.present? %>
    <h2>Hmm. <%= @not_found %></h2>
    <p> Check your spelling and try again.</p>
    <p class="button-main"><%= link_to "Search Again", two_actor_search_path %></p>

    <% else %> <!-- # @not_found.present? -->
      <h2><%= "Those two actors have been in #{@movies.size} movies together:" %></h2>
      <br>

      <div id ="two_actor_search_loop">
        <%= render partial: 'movies/movie_partial_loop', object: @movies %>
      </div> <!-- movies_actor_search_loop -->

      </br>
      <p class="button-main"><%= link_to "Search Again", two_actor_search_path, id: "two_actor_search_again_link" %></p>
      </br>

      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", actor_search_path(actor: I18n.transliterate("#{@actor}"), page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", actor_search_path(actor: I18n.transliterate("#{@actor}"), page: "#{@next_page}") %>
      <% end %>

    <% end %> <!-- # @not_found.present? -->

<% end %> <!-- # if !@actor.present? && !@actor2.present? -->


