
<% if !@actor.present? && !@actor2.present? %>

<h1>Find which movies two actors have been in together.</h1>

  <%= form_tag '/tmdb/two_actor_search', method: :get do %>
    <%= label_tag :actor, "Enter Actor Name: " %>
    <%= text_field_tag :actor %>
    <%= label_tag :actor2, "Enter Other Actor Name: " %>
    <%= text_field_tag :actor2 %>
    <%= submit_tag "Search" %>
  <% end %>

<% else %>

  <% if !@discover_results.present? %>
      <h2>Hmm. No movies found with those two in it. Check spelling to be sure.</h2>
    <% else %>
      <h2><%= "Those two actors have been in #{@discover_results.size} movies together:" %></h2>
      <br>

     <% @discover_results.each do |result| %>
      <% @tmdb_id = result[:id] %>
      <% @movie = Movie.find_by(tmdb_id: @tmdb_id) %>
       <div>
           <%= image_tag "http://image.tmdb.org/t/p/w150#{result[:poster_path]}" %>
          <h3><%= result[:title] %></h3>
          <p><%= result[:release_date] %></p>
          <p><%= result[:vote_average] %></p>
          <p><%= result[:overview] %></p>

          <% if @movie.present? %>

            <% if current_user.all_movies.include?(@movie) %>

              <p>On List(s):
              <% @movie.lists.by_user(current_user).each do |list| %>
                <%= link_to "#{list.name}", user_list_path(current_user, list.slug) %>
              <% end %> <!-- #list loop -->
              </p>

            <% else %>
              <p>This movie is not on your lists. Add it to a list:</p>
            <% end %> <!-- # if current_user.all_movies.include?(@movie) -->

            <%= form_for(Listing.new) do |f| %>
              <%= f.collection_select :list_id, current_user.lists_except_movie(@movie), :id, :name %>
              <%= hidden_field_tag :tmdb_id, @tmdb_id %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= f.submit "add movie to list" %>
            <% end %>

            </p>

          <% else %> <!-- #if @movie.present? -->

            <p>This movie is not on your lists. Add it to a list:</p>
              <%= form_for(Listing.new) do |f| %>
                <%= f.collection_select :list_id, current_user.all_lists, :id, :name %>
                <%= hidden_field_tag :tmdb_id, @tmdb_id %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= f.submit "add movie to list" %>
              <% end %>

          <% end %> <!-- #if @movie present -->

          <p><%= link_to "More info", movie_more_path(movie_id: "#{result[:id]}") %></p>

      <% end %> <!-- #results loop -->

      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
      <% end %>

    <% end %>

    <p><%= link_to "Search again", two_actor_search_path %> </p>

<% end %>


