<h1>Find Common Actors Between 2 Movies</h1>

<% if @search_results.nil? %>
  <p>Enter two movies and see which actors have been in both movies.</p>
  <%= form_tag '/tmdb/two_movie_search', { class: "form-class", id: "two-movie-search", role: "form", method: :get } do %>
    <%= text_field_tag :movie_one, nil, class: "form-control search-form autocomplete-search-field", id: "movie1_field_two_movie_search", placeholder: "Enter Movie Title", data: { autocomplete_source: movie_autocomplete_path }  %>
    <%= text_field_tag :movie_two, nil, class: "form-control search-form autocomplete-search-field", id: "movie2_field_two_movie_search", placeholder: "Enter Movie Title", data: { autocomplete_source: movie_autocomplete_path }  %>
    <%= submit_tag "Search", id: "search_button_two_movie_search", class: "form-control-submit search-form-submit" %>
  <% end %>

<% else %><!-- a search has been made -->
  <% if @search_results.not_found_message.present? %>
    <h2>Hmm. <%= @search_results.not_found_message %></h2>
    <p> Check your spelling and try again.</p>

  <% else %> <!-- movies were found -->
    <h2><%= link_to "#{@search_results.movie_one.title}", movie_more_path(tmdb_id: @search_results.movie_one.tmdb_id) %> and <%= link_to "#{@search_results.movie_two.title}", movie_more_path(tmdb_id: @search_results.movie_two.tmdb_id) %> have <%= pluralize(@search_results.common_actors.size, "actor") %> in common:</h2>
    <ul>
      <% @search_results.common_actors.each do |actor| %>
        <li><%= link_to "#{actor}", actor_search_path(actor: I18n.transliterate(actor)) %></li>
      <% end %>
    </ul>
    <br>
  <% end %>

  <p class="button-main"><%= link_to "Search Again", two_movie_search_path %> </p>
<% end %>
