
<% if !@actor.present? && !@actor2.present? %>

<h1>Enter two actors and see the movies they've been in together.</h1>

  <%= form_tag '/tmdb/two_actor_search', method: :get do %>
    <%= label_tag :actor, "Actor 1 Name: " %>
    <%= text_field_tag :actor, nil, id: "actor1_field_two_actor_search" %></br>
    <%= label_tag :actor2, "Actor 2 Name: " %>
    <%= text_field_tag :actor2, nil, id: "actor2_field_two_actor_search" %></br>
    <%= submit_tag "Search", id: "search_button_two_actor_search" %>
  <% end %>

<% else %>

  <% if @not_found.present? %>
    <h2>Hmm. <%= @not_found %> Check spelling to be sure.</h2>

    <% else %> <!-- # @not_found.present? -->
      <h2><%= "Those two actors have been in #{@movies.size} movies together:" %></h2>
      <br>

      <div id ="two_actor_search_loop">

        <% @movies.each do |movie| %>

          <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
            <%= render partial: 'movies/movie', object: movie %>
          </div>

        <% end %>

      </div> <!-- # two actor search loop -->

      <%= "Page #{@page} of #{@total_pages}" %></br>

      <% if @previous_page.present? %>
        <%= link_to "Previous page", actor_search_path(actor: "#{@actor}", page: "#{@previous_page}") %>
      <% end %>

      <% if @next_page.present? %>
        <%= link_to "Next page", actor_search_path(actor: "#{@actor}", page: "#{@next_page}") %>
      <% end %>

    <% end %> <!-- # @not_found.present? -->

    <p><%= link_to "Search again", two_actor_search_path %> </p>

<% end %> <!-- # if !@actor.present? && !@actor2.present? -->


