<% if !@movie_one.present? && !@movie_two.present? %>

<h1>Enter two movies and see which actors have been in both movies.</h1>

  <%= form_tag '/tmdb/two_movie_search', method: :get do %>
    <%= label_tag :movie_one, "Movie title 1: " %>
    <%= text_field_tag :movie_one, nil, id: "movie1_field_two_movie_search" %></br>
    <%= label_tag :movie_two, "Movie title 2: " %>
    <%= text_field_tag :movie_two, nil, id: "movie2_field_two_movie_search" %></br></br>
    <%= submit_tag "Search", id: "search_button_two_movie_search" %>
  <% end %>

<% else %>

  <% if !@common_actors.present? %>
      <h2>Hmm. No common actors found for those two movies. Check spelling to be sure.</h2>
    <% else %>
      <h2>These two movies have the following similar actors:</h2>
    <% end %>
  <h3>Number of common actors in <%= link_to "#{@movie_one[:title]}", movie_more_path(tmdb_id: @movie_one_id) %>,
    and <%= link_to "#{@movie_two[:title]}", movie_more_path(tmdb_id: @movie_two_id) %>: <%= @common_actors.size %></h3>

  <p>Common Actors:</strong>
  <% @common_actors.each do |actor| %>
    <%= link_to "#{actor}", actor_search_path(actor: actor) %>
  <% end %>
  </p>
  </br>
  <p><%= link_to "Search again", two_movie_search_path %> </p>

<% end %>