<% content_for(:title, "Search by Actors") %>

<h1>Find Common Movies Between Actors</h1>
<% if !@results&.actors.present? && !@results&.not_found_message.present? %>
  <p>Enter two actors and see the movies they've been in together.</p>
  <%= form_tag '/tmdb/two_actor_search', { class: "form-class", id: "two-actor-search", role: "form", method: :get } do %>
    <%= text_field_tag :actor, nil, class: "form-control search-form autocomplete-search-field", id: "actor1_field_two_actor_search", placeholder: "Enter Actor One's Name", data: { autocomplete_source: person_autocomplete_path } %>
    <%= text_field_tag :actor2, nil, class: "form-control search-form autocomplete-search-field", id: "actor2_field_two_actor_search", placeholder: "Enter Actor Two's Name", data: { autocomplete_source: person_autocomplete_path } %>
    <%= submit_tag "Search", id: "search_button_two_actor_search", class: "form-control-submit search-form-submit" %>
  <% end %>

<% elsif @results.not_found_message.present? %>
  <h2>Hmm. <%= @results.not_found_message %></h2>
  <p> Check your spelling and try again.</p>
  <p class="button-main"><%= link_to "Search Again", two_actor_search_path %></p>

<% else %>
  <h2>
    <%= @results.actor_names.to_sentence %>
    <%= "have been in #{@results.common_movies.size} movies together:" %>
  </h2>
  <br>

  <div id ="two_actor_search_loop">
    <%= render partial: 'movies/movie_partial_loop', locals: { movies: @results.common_movies } %>
  </div> <!-- movies_actor_search_loop -->

  <br>
  <p class="button-main"><%= link_to "Search Again", two_actor_search_path, id: "two_actor_search_again_link" %></p>
  <br>

  <div class='row'>
    <span class="button-main"><%= link_to "Previous page", actor_search_path(paginate_names: @results.actor_names, page: "#{@results.previous_page}") if @results.previous_page.present? %></span>
    <%= "Page #{@results.current_page} of #{@results.total_pages}" %>
    <span class="button-main"><%= link_to "Next page", actor_search_path(paginate_names: @results.actor_names, page: "#{@results.next_page}") if @results.next_page.present? %></span>
  </div>
<% end %> <!-- # @results.not_found_message.present? -->
<br>
