
  <!-- MODAL -->
  <div class="modal fade" id="myModal_<%= movie.tmdb_id %>" tabindex="-1" role="dialog">
      <!-- TODO: Refactor the shit out of this: -->
  <% @lists_except_movie = current_user.lists_except_movie(movie) %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><h3><%= link_to "#{movie.title}", movie_more_path(tmdb_id: movie.tmdb_id) %></h3></h4>
      </div><!-- header -->
      <div class="modal-body">
        <div class="row">
        <div class="col-sm-3">
          <%= link_to image_for(movie), movie_path(movie), id: "movie_show_link_movie_partial" if movie.poster_path.present? %>

          <div class="watch-info">
            <%= render "movies/movie_watch_info", movie: movie %>
          </div><!-- watch-info -->
        </div> <!-- col-sm-3 -->

        <div class="col-sm-9">
        <p><strong>Release Date:</strong> <%= movie.release_date %></p>
        <p><strong>Average Rating:</strong> <%= movie.vote_average %></p>
        <p><strong>Overview:</strong> <%= movie.overview %></p>
        <% if movie.in_db %>
          <p><strong>Runtime:</strong> <%= movie.runtime %></p>
        <% end %>

        <div id="movie_modal_innard_<%= "#{movie.tmdb_id}" %>">
          <%= render 'movies/movie_modal_innard', movie: movie %>
        </div>


        </div> <!-- col-sm-9 -->
        </div><!-- row -->
      </div><!-- body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>  <!-- modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ######################## -->
