<div id="trailer_<%= "#{movie.tmdb_id}" %>">
  <% if movie.trailer.present? %>
    <div class="embed-container">
      <iframe src="https://www.youtube.com/embed/<%= movie.trailer %>?rel=0" allowfullscreen></iframe>
    </div>
  <% else %>
      <a href="https://www.youtube.com/results?search_query=<%= movie.title %>+movie+official+trailer" target="_blank" alt="Search for the Trailer" class='trailer-link'>
        <i class="fa fa-chevron-circle-right"></i> Watch the Trailer
      </a>
  <% end %>

  <% if current_user.admin? %>
    <%= form_tag(movie_path(movie), { class: 'add-trailer', id: "add-trailer", method: :patch, data: {controller: 'trailer', action: 'input->trailer#validateInput'} } ) do %>
      <%= text_field_tag :trailer, nil, { placeholder: trailer_placeholder_text(movie) } %>
      <%= hidden_field_tag(:tmdb_id, movie.tmdb_id) %>
      <%#= submit_tag trailer_button_text(movie), id: "add-trailer-btn" %>
    <% end %>
  <% end %>
</div>
