<% @movies.each do |movie| %>
   <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
      <h3><%= link_to "#{movie.title}", movie_path(movie) %></h3>
      <%= image_tag "http://image.tmdb.org/t/p/w154#{movie.poster_path}" %>
      <p>Release Date: <%= movie.release_date %></p>
      <p>Vote average: <%= movie.vote_average %></p>
      <p>Actors: <%= movie.actors %></p>
      <p>Overview: <%= movie.overview %></p>

      <div id="if_movie_tagged_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_tag', movie: movie %>
      </div>

      <div id="if_movie_listed_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_list', movie: movie %>
      </div>

      <div id="if_list_remove_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_list_remove', movie: movie %>
      </div>

      <div id="if_list_priority_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_list_priority', movie: movie %>
      </div>

      <div id="if_movie_seen_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_screening', movie: movie %>
      </div>

      <div id="if_movie_rated_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_rating', movie: movie %>
      </div>

      <div id="if_movie_reviewed_<%= "#{movie.id}" %>">
        <%= render 'movies/movie_review', movie: movie %>
      </div>

      <p><%= link_to "Movie show page", movie_path(movie), id: "movie_show_page" %></p>
      </br>
      <hr>
    </div> <!-- # initial <div id="movies_partial_for_<%= movie.tmdb_id %>"> -->
  <% end %>