<% if movie.in_db && movie.lists.by_user(current_user).present? %>
  <%= turbo_frame_tag "movie_listings_#{movie.tmdb_id}" do %>
    <div id="movie_show_on_lists_<%= "#{movie.tmdb_id}" %>">
      <%= render 'movies/movie_on_lists', movie: movie %>
    </div>
  <% end %>
  <%= turbo_frame_tag "movie_show_other_list_#{movie.tmdb_id}" do %>
  <div id="movie_show_other_list_<%= "#{movie.tmdb_id}" %>">
    <%= render 'movies/movie_add_to_another_list', movie: movie %>
  </div>
  <% end %>
  <% else %> <!-- # if movie.in_db && movie.lists.by_user(current_user).present? -->
  <div id="movie_show_add_to_first_list_<%= "#{movie.tmdb_id}" %>">
    <%= render 'movies/movie_add_to_first_list', movie: movie %>
  </div>
<% end %> <!-- # if movie.in_db && movie.lists.by_user(current_user).present? -->
