
<article class="movie-show">
  <div class="row">
    <div class="col-xs-12">
      <div id="movie-splash-container">
        <div class="backdrop-image">
          <%= image_tag(
            TmdbImageService.image_url(file_path: @movie.backdrop_path, size: :large, image_type: :backdrop),
            title: "#{@movie.title} backdrop image",
            alt: "#{@movie.title} backdrop image"
          ) %>
        </div> <!-- backdrop-image -->
        <div id="gradient-box"></div>
      </div><!-- movie-splash-container -->
    </div> <!-- col-xs-12 -->
  </div> <!-- row -->


  <div class="row">
    <div class="movie-bottom-details">

      <div class="col-xs-3">
        <div class="sidebar">
          <%= link_to image_for(@movie), link_to_movie(@movie), id: "movie_show_link_movie_partial" if @movie.poster_path.present? %>
          <div class="mobile">
            <%= render 'movies/movie_screening', movie: @movie %>
            <%= render "shared/streaming_service_providers", streaming_service_providers: @movie.streaming_service_providers %>
          </div> <!-- mobile -->
        </div> <!-- sidebar -->
      </div><!-- col-xs-3 -->

      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <h1><%= @movie.title %></h1>
            <p>
              <%= movie_stats_display(@movie) %>
              <%= movie_genres_display(@movie) %>
            </p>
            <p><%= movie_cast_display(@movie, 4) %></p>
            <p><%= @movie.overview %></p>
          </div> <!-- col-xs-12 -->
        </div> <!-- row -->


        <!-- LISTS AND TAGS -->
        <div class="row">
          <div class="col-xs-6">
            <div id="movie_tagged_<%= "#{@movie.tmdb_id}" %>">
              <%= render "movies/movie_tag", movie: @movie %>
            </div>
          </div> <!-- col-xs-6 -->

          <div id="movie_show_listings_<%= "#{@movie.tmdb_id}" %>"class="col-xs-6">
            <%= render "movies/movie_show_list_manage", movie: @movie %>
          </div>
        </div> <!-- row -->


        <!-- TRAILER & PRODUCTION COMPANIES -->
        <div class="row" id='trailer-section'>
          <div class="col-xs-12">
            <%= render "movies/movie_trailer", movie: @movie %>
            <%= render "movies/movie_production_companies", movie: @movie %>
          </div> <!-- col-xs-12 -->
        </div> <!-- row -->


        <!-- RATINGS AND REVIEWS -->
        <div class="row">
          <div class="col-xs-12">
            <div class="well well-sm">
              <div class="col-xs-12">

                <div id="movie_show_seen_<%= "#{@movie.tmdb_id}" %>" class="partial-spacer">
                  <%= render "movies/movie_show_screening", movie: @movie %>
                </div><!-- movie_show_seen -->

                <div id="movie_show_rated_<%= "#{@movie.tmdb_id}" %>" class="partial-spacer">
                  <%= render 'movies/movie_rating', movie: @movie %>
                </div>

                <div id="movie_show_reviewed_<%= "#{@movie.tmdb_id}" %>" class="partial-spacer">
                  <%= render 'movies/movie_review', movie: @movie %>
                </div>

                <% if current_user.admin? && @movie.in_db %>
                  <p class="button-main"><%= link_to '<i class="fa fa-refresh"></i> Update Movie Data'.html_safe, update_tmdb_data_path(tmdb_id: @movie.tmdb_id), id: "update_movie_link_movie_show" %></p>
                <% end %>

              </div> <!-- col-xs-12 -->
            </div> <!-- well well-sm -->
          </div> <!-- col-xs-12 -->
        </div> <!-- row -->

      </div> <!-- col-xs-9 -->
    </div> <!-- movie-bottom-details -->
  </div> <!-- row -->
</article>
