
  <!-- MODAL -->
  <div class="modal fade" id="myModal_<%= movie.tmdb_id %>" tabindex="-1" role="dialog">
      <!-- TODO: Refactor the shit out of this: -->
  <% @lists_except_movie = current_user.lists_except_movie(movie) %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
        <div class="col-sm-3">
          <%= link_to image_for(movie), movie_more_path(tmdb_id: movie.tmdb_id), id: "movie_show_link_movie_partial" if movie.poster_path.present? %>

          <div class="watch-info">
            <%= render "movies/movie_watch_info", movie: movie %>
          </div><!-- watch-info -->
        </div> <!-- col-sm-3 -->

        <div class="col-sm-9">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title"><%= link_to "#{movie.title}", movie_more_path(tmdb_id: movie.tmdb_id) %></h1>
        <p><%= movie.release_date %> | <%= movie.mpaa_rating %> | TMDB: <%= movie.vote_average %>
        <% if current_user.rated_movies.include?(movie) %>
        | My Rating: <%= link_to "#{movie.ratings.by_user(current_user).first.value}", movie_rating_path(movie, movie.ratings.by_user(current_user).first), id: "show_rating_link_movies_partial" %>
        <% end %><!-- if user rating -->
        <% if movie.in_db %>
           | <%= movie.runtime %> min
        <% end %><!-- runtime -->
        </p>
        <p><%= truncate(movie.overview, length: 160, separator: ' ') %> <%= link_to "more", movie_more_path(tmdb_id: movie.tmdb_id) %></p>

        <div id="movie_modal_innard_<%= "#{movie.tmdb_id}" %>">
          <%= render 'movies/movie_modal_innard', movie: movie %>
        </div><!-- movie_modal_innard -->

        </div> <!-- col-sm-9 -->
        </div><!-- row -->
      </div><!-- body -->

      <div class="modal-footer">
        <p class="btn btn-default"><%= link_to "Movie Details", movie_more_path(tmdb_id: movie.tmdb_id), id: "movie_show_link_movie_partial" %></p>
        <p class="btn btn-default"><%= link_to "Mark as Watched", screenings_path(:screening => { notes: nil }, tmdb_id: movie.tmdb_id, from: "movies_index", page: params[:page]), :method => :post, id: "mark_watched_link_movies_partial", remote: true %></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>  <!-- modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ######################## -->
