
  <!-- MODAL -->
 <div class="modal fade movie-modal"
      id="myModal_<%= movie.tmdb_id %>"
      data-movie-id="<%= movie.tmdb_id %>"
      tabindex="-1"
      role="dialog"
  >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
        <div class="col-xs-3">
            <%= link_to image_for(movie), link_to_movie(movie), id: "movie_more_link_movie_partial" %>
          <div class="watch-info">
            <%= render 'movies/movie_screening', movie: movie %>
            <%= render "movies/movie_streaming_service_providers", streaming_service_providers: movie.streaming_service_providers %>
          </div><!-- watch-info -->
        </div> <!-- col-xs-3 -->

        <div class="col-xs-9">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title"><%= link_to "#{movie.title}", link_to_movie(movie) %></h1>

        <p><%= movie_stats_display(movie) %></p>
        <p><%= movie_cast_display(movie, 3) %></p>

        <p><span class="pseudo-header">Overview: </span><%= truncate(movie.overview, length: 150, separator: ' ') %>  <%= link_to '<i class="fa fa-chevron-circle-right"></i> Full Details'.html_safe, link_to_movie(movie) %>

        <div id="movie_modal_innard_<%= "#{movie.tmdb_id}" %>">
          <%= render 'movies/movie_modal_innard', movie: movie %>
        </div><!-- movie_modal_innard -->

        </div> <!-- col-xs-9 -->
        </div><!-- row -->
      </div><!-- body -->

      <div class="modal-footer">
        <p class="btn btn-default"><%= link_to "Movie Details", link_to_movie(movie), id: "movie_show_link_movie_partial" %></p>
        <%= link_to "Close", movie_modal_close_path(tmdb_id: @movie.tmdb_id),
        remote: true, data: { target: "#myModal_#{@movie.tmdb_id}" },
        id: "modal_close_link_#{@movie.tmdb_id}", :class => "btn btn-default" %>

      </div>  <!-- modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ######################## -->
