
<p class="fa fa-list-ul"><span class="pseudo-header"> Lists:</span>
      <%= form_for(Listing.new, class: "form-class", id: "modal-add-to-first-list", data: {controller: 'auto-submit', action: 'input->auto-submit#submit'}) do |f| %>
      <%= f.select :list_id, list_add_dropdown(movie),
                      {include_blank: 'Add to a list'}, {
                      class: "form-control add-to-other-list list-dropdown",
                      id: "add-to-list-dropdown-#{movie.tmdb_id}" } %>

        <%#= hidden_field_tag 'listing[list_id]', '', id: 'list_autocomplete_val', class: 'list-id-field' %>
        <%= hidden_field_tag :tmdb_id, movie.tmdb_id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :from, "first_list" %>
        <%= f.submit "+ Add", id: "add_to_list_button_movies_partial", class: "form-control-submit" %>
      <% end %>
