          <!-- TODO: Refactor the shit out of this: -->
          <% @lists_except_movie = current_user.lists_except_movie(movie) %>
          <div class="well well-sm">
          <strong>Your Viewing Info:</strong>
          <div id="movie_seen_<%= "#{movie.tmdb_id}" %>">
            <%= render 'movies/movie_screening', movie: movie %>
          </div><!-- movie_seen -->

          </div><!-- well -->
          <div class="well well-sm">
            <div id="movie_tagged_<%= "#{movie.tmdb_id}" %>">
              <%= render 'movies/movie_tag', movie: movie %>
            </div>
          </div><!-- well -->


        <% if movie.in_db && movie.lists.by_user(current_user).present? %>
        <div class="well well-sm">

          <div id="movie_on_lists_<%= "#{movie.tmdb_id}" %>">
            <%= render 'movies/movie_on_lists', movie: movie %>
          </div>

          <div id="movie_other_list_<%= "#{movie.tmdb_id}" %>">
            <%= render 'movies/movie_add_to_another_list', movie: movie %>
          </div>

            <% if @list.present? && current_user.all_lists.include?(@list) %>

              <div id="list_remove_<%= "#{movie.tmdb_id}" %>">
                <%= render 'movies/movie_list_remove', movie: movie %>
              </div>

              <div id="list_priority_<%= "#{movie.tmdb_id}" %>">
                <%= render 'movies/movie_list_priority', movie: movie %>
              </div>
            <% end %> <!-- #if @list.present? && current_user.all_lists.include?(@list)  -->

          <p><%= link_to "Movie show page", movie_path(movie), id: "movie_show_link_movie_partial" %></p>

        </div> <!-- well well-sm -->

        <% else %><!-- movie.in_db && movie.lists.by_user -->
        <div class="well well-sm">

          <div id="movie_add_to_first_list_<%= "#{movie.tmdb_id}" %>">
            <%= render 'movies/movie_add_to_first_list', movie: movie %>
          </div>
          <p><%= link_to "More info", movie_more_path(tmdb_id: movie.tmdb_id), id: "movie_more_link_movie_partial" %></p>
        </div> <!-- well well-sm -->
        <% end %><!-- movie.in_db && movie.lists.by_user -->