
  <!-- MODAL -->
  <div class="modal fade" id="myModal_<%= movie.tmdb_id %>" tabindex="-1" role="dialog">
      <!-- TODO: Refactor the shit out of this: -->
  <% @lists_except_movie = current_user.lists_except_movie(movie) %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
        <div class="col-sm-3">
          <%= link_to image_for(movie), movie_more_path(tmdb_id: movie.tmdb_id), id: "movie_show_link_movie_partial" if movie.poster_path.present? %>

          <div class="watch-info">
            <%= render "movies/movie_watch_info", movie: movie %>
          </div><!-- watch-info -->
        </div> <!-- col-sm-3 -->

        <div class="col-sm-9">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title"><%= link_to "#{movie.title}", movie_more_path(tmdb_id: movie.tmdb_id) %></h1>

        <p><%= movie.release_date %> | <%= movie.mpaa_rating %> | TMDB: <%= movie.vote_average %> | <%= movie.runtime %> min
        </p>

        <p><% @movie.actors.first(3).each do |actor| %>
            <span class="tag-link"><%= link_to "#{actor}", actor_search_path(actor: actor), id: "actor_link_movie_modal" %></span>
          <% end %></p>

        <p><strong>Overview: </strong><%= truncate(movie.overview, length: 150, separator: ' ') %> <%= link_to "more", movie_more_path(tmdb_id: movie.tmdb_id) %></p>

        <div id="movie_modal_innard_<%= "#{movie.tmdb_id}" %>">
          <%= render 'movies/movie_modal_innard', movie: movie %>
        </div><!-- movie_modal_innard -->

        </div> <!-- col-sm-9 -->
        </div><!-- row -->
      </div><!-- body -->

      <div class="modal-footer">
        <p class="btn btn-default"><%= link_to "Movie Details", movie_more_path(tmdb_id: movie.tmdb_id), id: "movie_show_link_movie_partial" %></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>  <!-- modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ######################## -->
