 <% @movies.each do |movie| %>
   <div>
      <h3><%= link_to "#{movie.title}", movie_path(movie) %></h3>
      <%= image_tag "http://image.tmdb.org/t/p/w154#{movie.poster_path}" %>
      <p>Release Date: <%= movie.release_date %></p>
      <p>Vote average: <%= movie.vote_average %></p>
      <p>Overview: <%= movie.overview %></p>

      <% if @list.present? %> <!-- #will show member tags if @list.present? -->
        <p>Tags:
          <% movie.tags.by_user_or_list(@list).each do |tag| %>
            <%= link_to "#{tag.name}", tag_path(tag.name, list_id: @list.id), id: "tag_link_movies_partial" %><%= link_to "(x)", delete_tagging_path(tag.id, movie.id, list_id: @list.id, page: params[:page]), id: "remove_tag_link_movies_partial_on_list", method: :delete  %>
          <% end %>
          </p>
      <% else %>
        <p>Tags:
        <% movie.tags.by_user_or_list(current_user).each do |tag| %>
          <%= link_to "#{tag.name}", tag_path(tag.name), id: "tag_link_movies_partial" %><%= link_to "(x)", delete_tagging_path(tag.id, movie.id, page: params[:page]), id: "remove_tag_link_movies_partial", method: :delete  %>
        <% end %> <!-- # tag loop -->

      <% end %> <!-- #will show member tags if @list.present? -->

      <p> <%= form_tag('/taggings') do %>
            <%= label_tag(:tag_list, "Add tags:") %>
            <%= text_field_tag(:tag_list) %>
            <%= hidden_field_tag(:movie_id, movie.id) %>
            <%= hidden_field_tag(:list_id, @list.id) if @list.present? %>
            <%= hidden_field_tag(:page, params[:page]) %>
            <%= submit_tag "add tags", id: "add_tags_button_movies_partial" %>
          <% end %> <!-- # tag form loop -->
      </p>

      <p>On List(s):
        <% movie.lists.by_user(current_user).each do |list| %>
          <%= link_to "#{list.name}", user_list_path(current_user, list.slug), id: "show_list_link_on_list_movies_partial" %>
        <% end %> <!-- # list loop -->
      </p>

      <% if @list.present? %> <!-- #if @list.present, show remove from list and priority -->
        <p><%= link_to "Remove from #{@list.name}", delete_listing_path(@list.id, movie.id), id: "remove_movie_link_movies_partial", method: :delete, data: { confirm: 'Are you sure?' } %></p>

        <p>Priority on <%= "#{@list.name}" %>: <%= movie.priority(@list) %></p>

        <p><%= form_tag(update_listing_path(list_id: @list.id, movie_id: movie.id), :method => :patch) do %>
            <%= label_tag(:priority, "new priority:") %>
            <%= number_field_tag :priority, nil, id: "priority_number_field_movies_partial" %>
            <%= hidden_field_tag(:user_id, current_user.id) %>
            <%= submit_tag "Prioritize", id: "add_priority_button_movies_partial" %>
          <% end %> <!-- #update priority form -->
        </p>
      <% end %> <!-- #if @list.present, show remove from list and priority -->

      <p>Add to another list:
      <%= form_for(Listing.new) do |f| %>
        <%= f.collection_select :list_id, current_user.lists_except_movie(movie), :id, :name %>
        <%= hidden_field_tag :tmdb_id, movie.tmdb_id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= f.submit "add movie to list", id: "add_to_list_button_movies_partial" %>
      <% end %> <!-- # add to list form -->
      </p>

      <% if current_user.rated_movies.include?(movie) %> <!-- #if movie has been rated -->

        <p>My rating: <%= link_to "#{movie.ratings.by_user(current_user).first.value}", movie_rating_path(movie, movie.ratings.by_user(current_user).first), id: "show_rating_link_movies_partial" %></p>

      <% else %> <!-- #if movie has been rated -->

        <div>
          <%= form_for([movie, Rating.new]) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :movie_id, value: movie.id %>
            <%= hidden_field_tag :from, "list_show" if @list.present? %>
            <%= hidden_field_tag :list_id, @list.id if @list.present? %>
            <%= hidden_field_tag :from, "movies_index" if !@list.present? %>
            <%= hidden_field_tag :page, params[:page] %>
            <%= f.label "Rate this movie" %><br>
            <%= f.number_field :value, id: "rating_value_field" %>
            <%= f.submit "Rate it", id: "rating_submit_button_rating_form" %>
          <% end %> <!-- # rating form -->
        </div>

      <% end %> <!-- #if movie has been rated -->

      <% if current_user.reviewed_movies.include?(movie) %> <!-- #if movie has been reviewed -->

        <p>My Review: <%= movie.reviews.by_user(current_user).first.body %></p>
        <%= link_to "show", movie_review_path(movie, movie.reviews.by_user(current_user).first), id: "show_review_link_movies_partial" %>

      <% else %> <!-- #if movie has been reviewed -->

        <p><%= link_to "Review this movie", new_movie_review_path(movie), id: "new_review_link_movies_partial" %></p>

      <% end %> <!-- #if movie has been reviewed -->


      <% if current_user.screened_movies.include?(movie) %> <!-- #if movie has been seen -->

        <p>Times you've seen this movie: <%= movie.times_seen_by(current_user) %></p>
        <p><%= link_to "View my screenings", movie_screenings_path(movie), id: "view_screenings_link_movies_partial" %></p>

      <% else %> <!-- #if movie has been seen -->

        <% if @list.present? %> <!--  #if @list.present?, send params to return user back to list -->
          <p><%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: movie.id }, movie_id: movie.id, from: "list_show", list_id: @list.id, page: params[:page]), id: "mark_watched_link_movies_partial", :method => :post %></p>
        <% else %>  <!--  #if @list.present?, send params to return user back to list -->
          <p><%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: movie.id }, movie_id: movie.id, from: "movies_index", page: params[:page]), :method => :post, id: "mark_watched_link_movies_partial" %></p>
        <% end %> <!--  #if @list.present?, send params to return user back to list -->

        <p><%= link_to "Add a screening", new_movie_screening_path(movie), id: "add_screening_link_movies_partial" %><p>
      <% end %> <!-- #if movie has been seen -->

      <p><%= link_to "Movie show page", movie_path(movie), id: "movie_show_page" %></p>

    </br>
  <% end %>
</div>