<% if current_user.watched_movies.include?(movie) %> <!-- #if movie has been seen -->

  <% if current_user.rated_movies.include?(movie) %> <!-- #if movie has been rated -->

    <p>
      <icon class="fa fa-heart"></icon>
      <span class="pseudo-header"> Your Enjoyment:</span> <%= movie.ratings.by_user(current_user).first.value %>/10
      <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe,
                  movie_rating_path(movie, movie.ratings.by_user(current_user).first),
                  id: "show_rating_link_movies_partial"
      %>
    </p>

  <% else %> <!-- #if movie has been rated -->

      <%= form_for [movie, Rating.new], class: "form-class", id: "modal-rating", remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :movie_id, value: movie.id %>
        <%= hidden_field_tag :from, "list_show" if @list.present? %>
        <%= hidden_field_tag :list_id, @list.id if @list.present? %>
        <%= hidden_field_tag :from, "movies_index" if !@list.present? %>
        <%= hidden_field_tag :page, params[:page] %>
        <icon class="fa fa-heart"></icon> <%= f.label "How much did you like it?", class: "pseudo-header" %><br>
        <%= f.select(:value, Rating::VALUES, { prompt: "Out of 10" }, { class: "form-control", id: "rating_value_field" }) %>
        <%= f.submit "Rate", id: "rating_submit_button_rating_form", class: "form-control-submit" %>
      <% end %> <!-- # rating form -->

  <% end %> <!-- #if movie has been rated -->

<% end %> <!-- #if movie has been seen -->
