<div class="mt-10">
  <%= render 'movies/tags', movie: movie %>
</div>

<div class="mt-10">
  <%= render 'movies/lists', movie: movie %>
</div>

<div class="mt-10">
  <%= render "movies/movie_screening", movie: movie %>
</div>

<div class="mt-10">
  <%= render 'movies/movie_rating', movie: movie %>
</div>

<div class="mt-10">
  <%= render 'movies/movie_review', movie: movie %>
</div>

