<% content_for(:title, "My Movies") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <h1>My Movies</h1>
  <p>This page shows current user's movies, which includes movies on any/all lists, as well as all watched movies.</p>

  <% if @tag.present? %>
    <% if @list.present? %>
    <h3>Here are the movies tagged with: <%= "'#{@tag.name}' on #{@list.name}" %>. <%= link_to "Show all movies", movies_path, id: "movies_index_link_with_tag_and_list_movies_index" %></h3>
    <% else %>
    <h3>Here are the movies tagged with: <%= "'#{@tag.name}'" %>. <%= link_to "Show all movies", movies_path, id: "movies_index_link_with_tag_movies_index" %></h3>
    <% end %><!-- list present -->
  <% end %><!-- tag present -->

  <!-- # sort form -->
    <%= form_tag movies_path, method: :get do %>
      <%= label_tag :sort_by, "Sort by: " %>
      <%= select_tag :sort_by, options_for_select(Movie::MY_MOVIES_SORT_OPTIONS, @sort_by), :include_blank => false, id: "list_sort_options" %>
      <%= submit_tag "Sort", id: "sort_button_movies_index" %>
    <% end %>
</div> <!-- row -->


<div class="row">
  <div id ="movies_index_loop">
    <%= render partial: 'movies/movie_partial_loop', object: @movies %>
  </div><!-- movies_index_loop -->
</div> <!-- row -->


<div class="row tile-container">
   <center>
    <div class="pagination">
      <p><%= will_paginate @movies %></p>
    </div><!-- pagination -->
  </center>
</div> <!-- row tile-container -->




<br>