<p id="notice"><%= notice %></p>

<h1>Movies index page/My movies</h1>
<p>This page shows current user's movies, which include movies on any/all lists.</p>

 <% @movies.each do |movie| %>
   <div>
      <h3><%= link_to "#{movie.title}", movie_path(movie) %></h3>
      <%= image_tag "http://image.tmdb.org/t/p/w154#{movie.poster_path}" %>
      <p><%= movie.release_date %></p>
      <p><%= movie.vote_average %></p>
      <p><%= movie.overview %></p>
      <p>Tags: <%= raw movie.tag_list(current_user).map { |t| link_to t.name, tag_path(t.name) }.join(', ') %></p>
      <p>Tags to delete: <%= raw movie.tag_list(current_user).map { |t| link_to t.name, delete_tagging_path(t.id, movie.id), method: :delete }.join(', ') %></p>
      <p> <%= form_tag('/taggings') do %>
            <%= label_tag(:tag_list, "Add tags:") %>
            <%= text_field_tag(:tag_list) %>
            <%= hidden_field_tag(:movie_id, "#{movie.id}") %>
            <%= submit_tag("add tags") %>
          <% end %>
      </p>

      <p>On List(s): <%= raw movie.lists.by_user(current_user).map { |l| link_to l.name, user_list_path(current_user, l.slug) }.join(', ') %> </p>

      <% if current_user.rated_movies.include?(movie) %>
        <p>My Rating: <%= movie.ratings.by_user(current_user).first.value %></p>
      <% else %>
        <p><%= link_to "Rate this movie", new_movie_rating_path(movie) %></p>
      <% end %>

      <% if current_user.reviewed_movies.include?(movie) %>
        <p>My Review: <%= movie.reviews.by_user(current_user).first.body %></p>
      <% else %>
        <p><%= link_to "Review this movie", new_movie_review_path(movie) %></p>
      <% end %>

      <% if movie.times_seen_by(current_user) > 0 %>
        <p>Times you've seen this movie: <%= movie.times_seen_by(current_user) %></p>
        <p><%= link_to "View my screenings", movie_screenings_path(movie) %></p>
      <% else %>
        <p><%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: movie.id, user_id: current_user.id }, movie_id: movie.id), :method => :post %></p>
        <p><%= link_to "Add a screening", new_movie_screening_path(movie) %><p>
      <% end %>

      <p><%= link_to "Movie show page", movie_path(movie) %></p>

    </br>
  <% end %>
</div>

<p><%= will_paginate @movies %></p>

<br>
