<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @movie.trailer %>
</p>

<p>
  <strong>Genres:</strong>
  <%= raw @movie.genres.map { |g| link_to g, genre_path(genre: g) }.join(', ') %></p>
</p>

<p>
  <strong>Actors:</strong>
  <%= raw @movie.actors.map { |a| link_to a, actor_search_path(name: a) }.join(', ') %>
</p>

<p>
  <strong>Director:</strong>
  <%= link_to "#{@movie.director}", director_search_path(director_id: @movie.director_id, name: @movie.director) %>
</p>

<p>
  <strong>release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>backdrop_path:</strong>
  <%= @movie.backdrop_path %>
</p>

<p>
  <strong>poster_path:</strong>
  <%= @movie.poster_path %>
</p>

<p>
  <strong>overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>vote average:</strong>
  <%= @movie.vote_average %>
</p>

<p>
  <strong>popularity:</strong>
  <%= @movie.popularity %>
</p>

<p>
  <strong>runtime:</strong>
  <%= @movie.runtime %>
</p>

<p>
  <strong>adult?:</strong>
  <%= @movie.adult %>
</p>

<p>
  <% if current_user.reviewed_movies.include?(@movie) %>
    <strong>My Review:</strong>
    <%= @movie.reviews.by_user(current_user).first.body %>,
    <%= link_to "show", movie_review_path(@movie, @movie.reviews.by_user(current_user).first) %>
  <% else %>
    <%= link_to "Review this movie", new_movie_review_path(@movie) %></td>
  <% end %>
</p>

<p>
  <% if current_user.rated_movies.include?(@movie) %>
    <strong>My Rating</strong>
    <%= link_to "#{@movie.ratings.by_user(current_user).first.value}", movie_rating_path(@movie, @movie.ratings.by_user(current_user).first) %>
  <% else %>
    <%= link_to "Rate this movie", new_movie_rating_path(@movie) %>
  <% end %>
</p>

<p>
  <% if @movie.times_seen_by(current_user) > 0 %>
  <strong>Movie has been watched.</strong><br>
  <strong> <%= link_to "view my screenings", movie_screenings_path(@movie) %></strong>
  <% else %>
    <%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: @movie.id, user_id: current_user.id }, movie_id: @movie.id), :method => :post %><br>
    <%= link_to "add a screening", new_movie_screening_path(@movie) %>
  <% end %>
</p>

<p><%= link_to "Similar movies", movie_more_path(movie_id: @movie.tmdb_id) %>

<%= link_to 'Back', movies_path %>
