<p id="notice"><%= notice %></p>


 <h1>Movie Show page for: <%= @movie.title %></h1>

<%= image_tag "http://image.tmdb.org/t/p/w780#{@movie.backdrop_path}" %><br>
<%= image_tag "http://image.tmdb.org/t/p/w150#{@movie.poster_path}" %>

</br>
<p><strong>Trailer:</strong></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>

<p>
  <strong>Genres:</strong>
  <% @movie.genres.each do |genre| %>
    <%= link_to "#{genre}", genre_path(genre) %>
  <% end %>
</p>

<p>
  <strong>Actors:</strong>
  <% @movie.actors.each do |actor| %>
    <%= link_to "#{actor}", actor_search_path(actor: actor) %>
  <% end %>
</p>

<p>
  <strong>Director:</strong>
  <%= link_to "#{@movie.director}", director_search_path(director_id: @movie.director_id, name: @movie.director) %>
</p>

<p>
  <strong>release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>vote average:</strong>
  <%= @movie.vote_average %>
</p>

<p>
  <strong>popularity:</strong>
  <%= @movie.popularity %>
</p>

<p>
  <strong>runtime:</strong>
  <%= @movie.runtime %>
</p>

<p>Tags:
<% @movie.tag_list(current_user).each do |tag| %>
  <%= link_to "#{tag.name}", tag_path(tag.name) %><%= link_to "(x)", delete_tagging_path(tag.id, @movie.id), method: :delete  %>
<% end %>
</p>

<p> <%= form_tag('/taggings') do %>
      <%= label_tag(:tag_list, "Add tags:") %>
      <%= text_field_tag(:tag_list) %>
      <%= hidden_field_tag(:movie_id, "#{@movie.id}") %>
      <%= submit_tag("add tags") %>
    <% end %>
</p>

<p>On List(s):
  <% @movie.lists.by_user(current_user).each do |list| %>
    <%= link_to "#{list.name}", user_list_path(current_user, list.slug) %>
  <% end %>
</p>

<p>
  <% if current_user.reviewed_movies.include?(@movie) %>
    <strong>My Review:</strong>
    <%= @movie.reviews.by_user(current_user).first.body %>,
    <%= link_to "show", movie_review_path(@movie, @movie.reviews.by_user(current_user).first) %>
  <% else %>
    <%= link_to "Review this movie", new_movie_review_path(@movie), id: "new_review_link_movie_show" %></td>
  <% end %>
</p>

<p>
  <% if current_user.rated_movies.include?(@movie) %>
    <strong>My Rating</strong>
    <%= link_to "#{@movie.ratings.by_user(current_user).first.value}", movie_rating_path(@movie, @movie.ratings.by_user(current_user).first) %>
  <% else %>
    <%= link_to "Rate this movie", new_movie_rating_path(@movie) %>
  <% end %>
</p>

<p>
  <% if @movie.times_seen_by(current_user) > 0 %>
  <strong>Movie has been watched.</strong><br>
  <strong> <%= link_to "view my screenings", movie_screenings_path(@movie) %></strong>
  <% else %>
    <%= link_to "Mark as watched", movie_screenings_path(:screening => { movie_id: @movie.id, user_id: current_user.id }, movie_id: @movie.id), :method => :post %><br>
    <%= link_to "add a screening", new_movie_screening_path(@movie) %>
  <% end %>
</p>

<p><%= link_to "Similar movies", movie_more_path(movie_id: @movie.tmdb_id) %></p>

<%= link_to 'Back', movies_path %>
