<p id="notice"><%= notice %></p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @movie.trailer %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @movie.vote_average %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @movie.popularity %>
</p>

<p>
<% if current_user.reviewed_movies.include?(@movie) %>
  <strong>My Review:</strong>
  <%= Review.by_user(current_user).find_by_movie_id(@movie.id).body %>
<% else %>
  <%= link_to "Review this movie", new_movie_review_path(@movie) %></td>
<% end %>
</p>

<%= link_to 'Back', movies_path %>
