<% content_for(:title, current_user.email) %>

<h1>Settings</h1>

<h2>Account details</h2>
<p><strong>Username:</strong> <%= current_user.username %></p>
<p><strong>Email:</strong> <%= current_user.email %></p>
<p><strong>Default Screening Location:</strong> <%= current_user.default_location %></p>
<p><strong>Password:</strong> **********</p>

<%= link_to 'Change your password/update info', edit_user_registration_path, class: 'btn inline-block mt-10' %>

<hr class="mt-10 mb-10">

<h2>Streaming Service Providers</h2>
<% if current_user.streaming_service_providers.empty? %>
  <%= link_to 'Add your preferred providers', edit_user_path(current_user), class: 'btn inline-block mt-10' %>
<% else %>
  <p>These are the streaming service providers that you like to see included in results for content availability.</p>
  <ul>
    <% current_user.streaming_service_providers.each do |provider| %>
      <li><%= provider.display_name %> (<%= link_to provider.tmdb_provider_name, provider.search_url, target: "_blank" %>)</li>
    <% end %>
  </ul>

  <%= link_to 'Edit your providers', edit_user_path(current_user), class: 'btn inline-block mt-10' %>
<% end %>