<% content_for(:title, current_user.email) %>

<h1>Profile page for <%= current_user.username %></h1>
<p><strong>Username:</strong> <%= current_user.username %></p>
<p><strong>Email:</strong> <%= current_user.email %></p>
<p><strong>Default Screening Location:</strong> <%= current_user.default_location %></p>
<p><strong>Password:</strong> **********</p>
<p><%= link_to "Change your password/update info", edit_user_registration_path, id: "edit_user_link_profile_page" %></p>
