<% streaming_service_providers.each do |provider| %>
  <a href="<%= provider[:url] %>" target="_blank" alt="<%= provider[:name] %>" title="<%= provider[:name] %>" class='streaming-provider'>
    <span class="material-symbols-outlined"><%= display_pay_model_icon(provider[:pay_model]) %></span>
      <%= provider[:pay_model].titleize %> on <%= provider[:name] %>
    </a>
<% end %>

<p class='txt-sm availability'>Availability data by <%= link_to 'JustWatch', 'https://www.justwatch.com', target: '_blank' %></p>
