<p>TV Series | Aired: <%= media.first_air_date %> to <%= media.last_air_date %> | Seasons: <%= media.number_of_seasons %> | Episodes: <%= media.number_of_episodes %> </p>
<p><%= media&.overview %></p>

<% if media.seasons.present? %>
  <h2>Seasons: |
    <% media.seasons.each do |season| %>
      <%= link_to season_number_display(season), tv_season_path(show_id: media.show_id, season_number: season, title: media.title) %> |
    <% end %>
  </h2>
<% end %><!-- if media.seasons.present? -->

<% if media.actors.present? %>
  <h2>Show Cast:</h2>
  <% media.actors.each do |actor| %>
    <div class="headshot-container">
      <%= headshot_for(actor) %>
      <div class="name-block">
        <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_search_path(actor: I18n.transliterate("#{actor.name}")) %></p>
        <p>as <%= truncate(actor.character_name, length: 18, escape: false) %><p>
      </div> <!-- name-block -->
    </div> <!-- headshot-container -->
  <% end %><!-- actors each do -->
<% end %><!-- if media.actors.present? -->