<div class="media-flex">
  <div class="watch-info">
    <div class="image-screenings-providers-container">
      <%= image_tag(
        TmdbImageService.image_url(file_path: media.poster_path, size: :medium, image_type: :poster),
        title: "#{media.title} backdrop image",
        alt: "#{media.title} backdrop image",
        id: "movie_show_link_movie_partial"
      ) if media.poster_path.present? %>

      <div class="screenings-providers-container">
        <%= render "tv_series_viewings/buttons_toggle", active_tv_series_viewing: active_tv_series_viewing, show_id: media.show_id, title: media.show_name %>
        <%= render "shared/streaming_service_providers", streaming_service_providers: media.streaming_service_providers, search_title: media.title %>
      </div>
    </div>
  </div>

  <div class="main-content">
    <h2><%= media.title %></h2>
    <p>TV Series | Aired: <%= media.first_air_date %> to <%= media.last_air_date %> | Seasons: <%= media.number_of_seasons %> | Episodes: <%= media.number_of_episodes %> </p>
    <p><%= media&.overview %></p>

    <% if media.seasons.present? %>
      <div class='seasons-container'>
      <h2 class='mb-0'>Seasons:</h2>
        <div>
          |
          <% media.seasons.each do |season| %>
            <%= link_to season_number_display(season), tv_season_path(show_id: media.show_id, season_number: season, title: media.title) %> |
          <% end %>
        </div>
      </div>
    <% end %>

    <% if media.actors.present? %>
      <h2>Show Cast:</h2>
      <div class="cast-container">
        <% media.actors.each do |actor| %>
          <div class="headshot-container">
            <%= headshot_for(actor) %>
            <div class="name-block">
              <p class="actor"><%= link_to "#{truncate(actor.name, length: 18, escape: false)}", actor_search_path(actor: I18n.transliterate("#{actor.name}")) %></p>
              <p>as <%= truncate(actor.character_name, length: 18, escape: false) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
