<%= form_for([@movie, @rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <div class="field">
    <%= f.select(:value, Rating::VALUES, { prompt: "Out of 10" }, { class: "form-control", id: "rating_value_field_rating_form" }) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", id: "rating_submit_button_rating_form", class: "form-control-submit" %>
  </div>
<% end %>
