<h1>User Ratings for <%= @movie.title %></h1>

<p class="button-main">
  <%= link_to 'Back to ' + @movie.title, movie_path(@movie) %>
  <%= link_to '+ New Rating', new_movie_rating_path(@movie) %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Value</th>
      <th>Manage Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user.username %></td>
        <td><%= rating.created_at %></td>
        <td><%= rating.value %></td>
        <td>
        <% if current_user == rating.user %>
        <p class="button-main">
          <%= link_to 'Edit', edit_movie_rating_path(@movie, rating) %>
          <%= link_to 'Delete', movie_rating_path(@movie, rating), method: :delete, data: { confirm: 'Are you sure you want to delete this rating? This action cannot be undone.' } %>
          </p>
        <% end %><!-- if current user -->
        </td>
      </tr>
    <% end %><!-- each rating -->
  </tbody>
</table>
