<h1>User Ratings for <%= link_to @movie.title, @movie %></h1>

<%= link_to '+ New Rating', new_movie_rating_path(@movie), class: 'btn' %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Value</th>
      <th>Manage Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user.username %></td>
        <td><%= rating.created_at.stamp("01-31-2001") %></td>
        <td><%= rating.value %></td>
        <td>
        <% if current_user == rating.user %>
          <%= link_to 'Edit', edit_movie_rating_path(@movie, rating), class: 'btn' %>
          <%= link_to 'Delete', movie_rating_path(@movie, rating), class: 'btn', method: :delete, data: { confirm: 'Are you sure you want to delete this rating? This action cannot be undone.' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
