<h1>Listing Ratings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Value</th>
      <th colspan="3">Manage Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.movie.title %></td>
        <td><%= rating.value %></td>
        <td><%= link_to 'Show', movie_rating_path(@movie, rating) %></td>
        <td><%= link_to 'Edit', edit_movie_rating_path(@movie, rating) %></td>
        <td><%= link_to 'Delete', movie_rating_path(@movie, rating), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="button-main"><%= link_to 'New Rating', new_movie_rating_path(@movie) %></p>