<p id="notice"><%= notice %></p>

<h2>You rated <%= link_to "#{@rating.movie.title}", movie_path(@rating.movie) %> <%= @rating.value %> out of 10.</h2>

<p>You can <%= link_to 'edit your rating', edit_movie_rating_path(@movie, @rating) %>, or go <%= link_to "back to the movie page" %>.
</p>
