<article id="page">
  <div class="jumbotron">
    <div class="well">

    <h1><span class="fa fa-step-forward"></span> MovieQueue</h1>
    <h2>Find movies. Track what you watch. Share lists.</h2>
    <% if current_user.present? %>

        <%= form_tag '/tmdb/search', { class: "form-class", id: "home-page-search", role: "form", method: :get } do %>
          <%= text_field_tag :movie_title, nil, { placeholder: "Enter a Movie Title", class: "form-control", id: "homepage-search-field" } %>
          <%= submit_tag " Search", id: "search_by_title_button", class: "form-control-submit" %>
        <% end %><!-- form_tag -->

      <hr>

      <p><%= link_to " Search by movie title", api_search_path, id: "movie_title_search_link_homepage", class: "fa fa-chevron-circle-right" %> </p>
      <p><%= link_to " Search by actor", actor_search_path, id: "actor_search_link_homepage", class: "fa fa-chevron-circle-right" %> </p>
      <p><%= link_to " Search by all sorts of things", discover_search_path, id: "discover_search_link_homepage", class: "fa fa-chevron-circle-right" %> </p>

    <% else %>

      <div class="button-holder">
        <p class="button-large"><%= link_to "Sign In", new_user_session_path, id: "sign_in_home_link" %></p>
        <p class="button-main"><%= link_to "Sign Up", new_user_registration_path, id: "sign_up_home_link" %></p>
      </div> <!-- button holder -->

    <% end %><!-- current_user? -->

    </div> <!-- well -->
  </div> <!-- jumbotron -->
</article>



