<% content_for(:title, "Flicks on Lists. Find movies. Track what you watch. Share lists.") %>

<h1><span class="fa fa-step-forward"></span> FlicksOnLists</h1>
<h2>Find movies. Track what you watch. Share lists.</h2>

<% if current_user.present? %>
  <%= form_tag '/tmdb/search', { method: :get } do %>
    <%= text_field_tag :movie_title, nil, class: "autocomplete-auto-submit", placeholder: "Enter Movie Title", data: { autocomplete_source: movie_autocomplete_path }  %>
    <%= submit_tag "Search" %>
  <% end %>

  <hr>
  <p><icon class="fa fa-chevron-circle-right"></icon><%= link_to " Search by movie title", api_search_path %> </p>
  <p><icon class="fa fa-chevron-circle-right"></icon><%= link_to " Search by actor", actor_search_path %> </p>
  <><icon class="fa fa-chevron-circle-right"></icon><%= link_to " Search by all sorts of things", discover_search_path %> </p>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn' %>
  <p class='mt-10 mb-10'>Have an account?</p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn' %>
<% end %>
