<% content_for(:title, "My Movies") %>


<div class="row">
  <h1>My Movie Collection</h1>
  <p>These are all your movies from all your lists.</p>

  <% if @tag.present? %>
    <% if @list.present? %>
    <h3>Here are the movies tagged with: <%= "'#{@tag.name}' on #{@list.name}" %>. <%= link_to "Show all movies", movies_path, id: "movies_index_link_with_tag_and_list_movies_index" %></h3>
    <% else %>
    <h3>Here are the movies tagged with: <%= "'#{@tag.name}'" %>. <%= link_to "Show all movies", movies_path, id: "movies_index_link_with_tag_movies_index" %></h3>
    <% end %><!-- list present -->
  <% end %><!-- tag present -->

  <% if @genre.present? %>
    <h3>Here are your movies with the genre: <%= "'#{@genre}'" %>. <%= link_to "Show all movies", movies_path, id: "movies_index_link_with_tag_movies_index" %></h3>
  <% end %><!-- # if genre present -->

  <!-- # sort form -->
  <% unless @tag.present? || @genre.present? %> <!-- # hide sort form if already sorted by tag or genre -->

    <%= form_tag movies_path, { class: "form-class", id: "movies-index-sort", role: "form", method: :get } do %>
      <%= select_tag :sort_by, options_for_select(MovieDataService::MY_MOVIES_SORT_OPTIONS, @sort_by), {:prompt => "Sort by...", class: "form-control index-sort-dropdown", :include_blank => false, id: "list_sort_options" } %>
      <%= submit_tag "Sort", id: "sort_button_movies_index", class: "form-control-submit" %>
    <% end %>
  <% end %>
</div> <!-- row -->

<div class="row">
  <div id ="movies_index_loop">
    <%= render partial: 'movies/movie_partial_loop', locals: { movies: @movies } %>
  </div><!-- movies_index_loop -->
</div> <!-- row -->


<div class="row tile-container">
   <center>
    <div class="pagination">
      <p><%= will_paginate @movies %></p>
    </div><!-- pagination -->
  </center>
</div> <!-- row tile-container -->
