<h1>Your Highest-Rated Movies</h1>
<p>Movies you've given an 8, 9, or 10</p>

<table class='highest-rated-movies'>
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Value</th>
      <th>Date Rated</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to(rating.movie.title, movie_path(rating.movie)) %></td>
        <td class='text-center'><%= rating.value %></td>
        <td class='text-center'><%= rating.created_at.stamp("01/31/01") %></td>
        <td class='text-center'>
          <%= link_to 'Edit', edit_movie_rating_path(rating.movie, rating), class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <p><%= will_paginate %></p>
</div>
