<%= form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <div class="field">
    <%= f.label :body, "Your Review:" %><br>
    <%= f.text_area :body,  cols: 40, rows: 7 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", id: "review_submit_button_review_form", class: "form-control-submit" %>
  </div>
<% end %>
