<%= form_for([@movie, @review], html: {class: 'new-edit'}) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.label :body, "Your Review:" %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" %>
<% end %>
