<h1>Reviews for <%= @movie.title %></h1>

<%= link_to 'Back to ' + @movie.title, movie_path(@movie), class: 'btn' %>
<%= link_to '+ Write a Review', new_movie_review_path(@movie), class: 'btn' %>

<% @reviews.each do |review| %>
  <h2>On <%= review.created_at.stamp("12-25-2001") %>, <%= review.user.username.titlecase %> said:</h2>
  <div class='mb-20'>
    <%= review.body %>
  </div>

  <% if current_user == review.user %>
    <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: 'btn' %>
    <%= link_to 'Delete', movie_review_path(@movie, review), class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
