<h1>Listing Reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Body</th>
      <th colspan="3">Manage Reviews</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.movie.title %></td>
        <td><%= review.body %></td>
        <td><%= link_to 'Show', movie_review_path(@movie, review) %></td>
        <td><%= link_to 'Edit', edit_movie_review_path(@movie, review) %></td>
        <td><%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="button-main"><%= link_to 'New Review', new_movie_review_path(@movie) %>
</p>