<%= tag.tr id: dom_id(viewing) do %>
  <td><%= link_to viewing.title, viewing.url %></td>
  <td><%= viewing.started_at.stamp("1/2/2001") %></td>
  <td>
    <% if viewing.active? %>
      Present
    <% else %>
      <%= viewing.ended_at.stamp("1/2/2001") %>
    <% end %>
  </td>
  <td><%= link_to "Edit", edit_tv_series_viewing_path(viewing) %></td>
<% end %>