<nav class="main-nav">
  <ul>
    <li class="mobile-hidden"><%= link_to 'Home', root_path %></li>
    <% if current_user.present? %>
      <li><%= link_to 'My Movies', user_lists_path(current_user) %></li>
      <% if current_user.tv_series_viewings.any? %>
        <li class="dropdown-header">
          <input id="my-shows" type="checkbox" name="my-shows" />
          <label for="my-shows">My Shows</label>
          <ul class="dropdown-items">
            <li><%= link_to 'See Viewing History', tv_series_viewings_path %></li>
            <hr>
            <% current_user.tv_series_viewings.active.each do |show| %>
              <li><%= link_to show.title, show.url %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li><%= link_to 'Search', api_search_path %></li>
    <% end %>
    <li class="mobile-hidden">
      <%= form_tag '/tmdb/search',
        { class: "header-movie-search", method: :get } do %>
          <%= text_field_tag :movie_title_header, nil, class: "autocomplete-auto-submit", placeholder: "Search for a Movie", data: { autocomplete_source: movie_autocomplete_path } %>
      <% end %>
    </li>

    <% if current_user.present? %>
      <li class="dropdown-header">
        <input id="quick-links" type="checkbox" name="quick-links" />
        <label for="quick-links"><%= current_user.username %></label>
        <ul class="dropdown-items">
          <li><%= link_to 'Settings', user_path(current_user) %></li>
          <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, id: "sign_out_nav_link", class: 'button_to' %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
