<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><icon class="logo-color fa fa-step-forward"></icon> MovieQueue</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if current_user.present? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, id: "sign_out_nav_link" %></li>
            <li><%= link_to 'Profile', user_path(current_user), id: "profile_nav_link" %></li>
          </ul><!-- dropdown items -->
        </li><!-- dropdown button -->
      </ul><!-- nav navbar-nav navbar-right -->
      <% end %>

      <ul class="nav navbar-nav">
      <% if current_user.present? %>
        <li><%= link_to 'My Movies', movies_path, id: "my_movies_nav_link" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Lists <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'My Lists', user_lists_path(current_user), id: "my_lists_nav_link" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to ' New List', new_user_list_path(current_user), class: "fa fa-plus" %></li>
          </ul> <!-- dropdown items -->
        </li><!-- dropdown button -->
        <li><%= link_to 'Public Lists', public_lists_path, id: "public_lists_nav_link" %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Search by Title", api_search_path, id: "movie_search_nav_link" %></li>
            <li><%= link_to "Search by Actor", actor_search_path, id: "actor_search_nav_link" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Advanced Search", discover_search_path, id: "discover_search_nav_link" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Common Movies Between 2 Actors", two_actor_search_path %></li>
            <li><%= link_to "Common Actors Between 2 Movies", two_movie_search_path %></li>

          </ul><!-- Search dropdown items -->
        </li><!-- Search dropdown button -->

      <% else %>
        <li><%= link_to "Sign In", new_user_session_path, id: "sign_in_nav_link" %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, id: "sign_up_nav_link" %></li>
      <% end %> <!-- if current_user.present? -->
      </ul><!-- nav navbar-nav -->



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>