<!DOCTYPE html>
<html>
  <head>
    <title><%= raw page_title %></title>
    <!-- Bootstrap 3.0.2 -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- Material Icons and Material Symbols are different. This stylesheet only accesses Material Symbols.
    To use Material Symbols, it will require a little more set up. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= javascript_import_module_tag "autocomplete" %>
    <%= csrf_meta_tags %>

    <!--TODO: use importmap for this-->
    <script src="//use.fontawesome.com/16a020f0b8.js"></script>

    <!-- Check device width for responsive media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= tag :meta, name: :rails_env, content: Rails.env %>

    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/environment_banner" %>
    <%= render "layouts/header" %>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= render "shared/overlay_modal" %>
      <%= yield %>
    </div>
  </body>
</html>
