<!DOCTYPE html>
<html>
<head>
<title><%= raw page_title %></title>
  <link href='https://fonts.googleapis.com/css?family=Passion+One|Rock+Salt|Bad+Script|Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <!-- Check device width for responsive media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <%= link_to 'Home', root_path, id: "home_page_nav_link" %>
    <%= "Signed in as: #{current_user.email}" %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, id: "sign_out_nav_link" %>
    <%= link_to 'My movies', movies_path, id: "my_movies_nav_link" %>
    <%= link_to 'My Lists', user_lists_path(current_user), id: "my_lists_nav_link" %>
    <%= link_to 'Public Lists', public_lists_path, id: "public_lists_nav_link" %>
    <%= link_to 'Search by title', api_search_path, id: "movie_search_nav_link" %>
    <%= link_to 'Search by actor', actor_search_path, id: "actor_search_nav_link" %>
    <%= link_to 'Search like crazy', discover_search_path, id: "discover_search_nav_link" %>

  <% else %>
    <%= link_to "Sign In", new_user_session_path, id: "sign_in_nav_link" %>
    <%= link_to "Sign Up", new_user_registration_path, id: "sign_up_nav_link" %>

  <% end %>

<%= yield %>

</body>
</html>
