<!DOCTYPE html>
<html>
<head>
  <title>TmdbMoviequeue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <%= link_to 'Home', root_path, id: "home_page_nav_link" %>
    <%= "Signed in as: #{current_user.email}" %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, id: "sign_out_nav_link" %>
    <%= link_to 'movies', movies_path, id: "my_movies_nav_link" %>
    <%= link_to 'Find a movie', api_search_path, id: "movie_search_nav_link" %>
    <%= link_to 'Search by actor', actor_search_path, id: "actor_search_nav_link" %>
    <%= link_to 'My Lists', user_lists_path(current_user), id: "my_lists_nav_link" %>
    <%= link_to 'All Lists', public_lists_path, id: "public_lists_nav_link" %>
    <%= link_to 'Discover movies', discover_search_path, id: "discover_search_nav_link" %>

  <% else %>
    <%= link_to "Sign In", new_user_session_path, id: "sign_in_nav_link" %>
    <%= link_to "Sign Up", new_user_registration_path, id: "sign_up_nav_link" %>

  <% end %>

<%= yield %>

</body>
</html>
